[2018-11-25 05:31] bassam opened #38 "The AWS cloud providers should not include the region"
The region used by a given resource should be late bound and not part of the AWS Provider object.

[2018-12-03 17:38] lukeweber opened #114 "EKSCluster Add workernode defaults to cluster spec if they're not set"
If you don't set nodeAutoScalingGroupMinSize, nodeAutoScalingGroupMaxSize, NodeVolumeSize they are set to 1, 3, and 20 respectively, but they aren't set in the spec.

They should be set in the spec correctly.

[2018-12-03 17:43] lukeweber opened #113 "EKS worker node configuration should be a list of nodepool configurations"
We should be able to have multiple nodePools per kubernetes cluster, but the current spec assumes a single nodepool.

Related to crossplaneio/crossplane#152

[2018-12-03 17:54] lukeweber opened #112 "EKSCluster worker spec updates -> sync with cloudformation"
Support update of cloudformation worker node configuration. Currently changes to the cloudformation workernode spec will not result in an update to the cloudformation stack.

[2018-12-04 00:03] lukeweber opened #111 "EKS Cluster credentials expiration"
Credentials in EKS are based on creating a token that has a max life of 15 minutes. We need to consider whether we should be integrating at kubeconfig credentials, instead of ClientConfig(token,CA).

The kubeconfig integration would have the baggage of supporting gcloud auth, and aws iam authenticator binaries.

Alternatively, we could likely create service accounts that were long lived for the sa

[2019-01-18 15:53] mfacenet opened #110 "Utilize IAM Roles for AWS Authentication when running inside of AWS"
**Is this a bug report or feature request?**
* Feature Request

**What should the feature do:**
Utilize IAM Roles to authenticate to the AWS API when available.

**What is use case behind this feature:**
As a engineer, I don't wish to concern myself with the details of securing/rotating security credentials, as such, I want to utilize IAM Roles assigned to the nodes that crossplane is executing on

[2019-03-26 23:35] negz opened #103 "EKSCluster failed to create, and now cannot be deleted from Kubernetes"
**Is this a bug report or feature request?** Bug Report

**Deviation from expected behavior:**
I attempted to create an EKS cluster using the below resource class and claim.

[code]

This resulted in an error:
[code]

I attempted to delete the `ekscluster` in order to rectify my mistake, but encountered the following error:

[code]

When I look in my AWS console I see no Kubernetes clusters to del

[2019-03-27 00:08] negz opened #101 "nodeGroupName and clusterControlPlaneSecurityGroup should be marked required"
**Is this a bug report or feature request?** Bug Report

**Deviation from expected behavior:**
I expected to be able to create an EKSCluster without specifying a `nodeGroupName` or `clusterControlPlaneSecurityGroup` because they are not required by our CRD. When I attempt to create the cluster I see:

[code]

**Expected behavior:**
`nodeGroupName` and `clusterControlPlaneSecurityGroup` should remo

[2019-03-27 00:48] negz opened #102 "Cannot delete S3 bucket after creation fails with name conflict"
**Is this a bug report or feature request?** Bug Report

**Deviation from expected behavior:**
The S3 bucket namespace is global. If I create an `S3Bucket` that attempts to use a bucket name that someone else has taken I get the following error:

[code]

If I attempt to rectify this by deleting the `S3Bucket` in Kubernetes I cannot, because:
[code]

**Expected behavior:**
If Crossplane never actua

[2019-04-10 08:23] SachinHg opened #116 "Support Backup or Retention period for AWS DB instances"
**Is this a bug report or feature request?**
 Feature Request

**What should the feature do:**
The feature should allow the admins to let users specify a backup/retention period for AWS RDS DB instances.
**What is use case behind this feature:**
I would like to backup my data stored on the DB instance for recovery.

**Environment**:

AWS

[2019-05-20 11:42] lukeweber opened #115 "Pass Domain through on EKS Provision for Route53 Permissions"
When we provision an EKS cluster, we create a Route53NodeInstancePolicy in our cloudformation script that allows full access from the node to administer the route53 records.
See: https://github.com/crossplaneio/crossplane/blob/3bc975537fe11b104779c0deac5d57ed8bf53bd2/pkg/clients/aws/eks/eks.go#L252

Note configuration notes here:
https://github.com/kubernetes-incubator/external-dns/blob/master/doc

[2019-07-18 18:44] lukeweber opened #117 "Dynamically list VPCs for a given Region in AWS"
### What problem are you facing?

Considering if someone were to create a UI around Crossplane for AWS resources, the VPCs and Regions don't exist as an explicit type and show up in individual resource classes as a string. A further example of things we might consider how to model would be security groups, rds subnet groups, and more. This concept probably has overlap with design being considered

[2019-09-13 03:38] negz opened #6 "Stack binary should be named "stack-aws""
### What happened?

The entrypoint binary for `stack-aws` appears to be named `crossplane`. This breaks at least the `make run` command, which expects the output binary to be the same as the project name.

### How can we reproduce it?

`make run`

### What environment did it happen in?
Crossplane version:

[2019-09-15 21:49] soorena776 opened #9 "Remove unnecessary `aws` folder, as the repository is specific to `aws`"
### What happened?

After migrating the aws resources from Crossplane core, they are still under an `aws` folder in multiple places:
- https://github.com/crossplaneio/stack-aws/tree/master/aws
- https://github.com/crossplaneio/stack-aws/tree/master/pkg/clients/aws
- https://github.com/crossplaneio/stack-aws/tree/master/pkg/controller/aws
This structure has introduces a couple of issues:
- It is re

[2019-09-19 00:35] negz opened #16 "Switch claim reconcilers from HasDirectClassReferenceKind to IsManagedKind predicate"
### What happened?

HasDirectClassReferenceKind does not support static provisioning. crossplane-runtime has been updated with a fix, but this stack must be updated. See https://github.com/crossplaneio/crossplane-runtime/issues/28 for details.

[2019-09-19 00:36] negz opened #17 "Switch claim reconcilers from HasDirectClassReferenceKind to IsManagedKind predicate"
### What happened?
HasDirectClassReferenceKind does not support static provisioning. crossplane-runtime has been updated with a fix, but this stack must be updated. See crossplaneio/crossplane-runtime#28 for details.

[2019-09-19 00:37] negz commented on #17
https://github.com/crossplaneio/crossplane-runtime/issues/33

[2019-09-19 00:38] negz commented on #16
https://github.com/crossplaneio/crossplane-runtime/issues/33

[2019-09-19 23:25] soorena776 opened #18 "Use Go modules instead of dep"
### What problem are you facing?

Go modules should be used instead of `dep`
### How could Crossplane help solve your problem?

[2019-09-25 22:53] suskin opened #21 "rds: IsErrorAlreadyExists does not appear to check for all error messages"
### What happened?

Somehow my local Crossplane got into a weird state where it is not able to successfully reconcile a mysqlinstance. Here's an example of the status of the object:

[code]

It looks as though there is an issue with the [IsErrorAlreadyExists function](https://github.com/crossplaneio/stack-aws/blob/1365f37ff9ac847bf75ff28dfa770e30a3006d7c/pkg/clients/aws/rds/rds.go#L112) where it i

[2019-09-25 23:05] hasheddan commented on #21
@suskin I believe the only update that needs to be made here is to change the check for `rds.ErrCodeDBClusterAlreadyExistsFault` to instead check `rds.ErrCodeDBInstanceAlreadyExistsFault`. I don't believe additional error codes need to be checked.

[2019-09-25 23:55] #21 closed

[2019-09-27 04:25] soorena776 opened #24 "Make all controllers use the the shared managed reconciler pattern"
### What problem are you facing?

Some of the earlier controllers for AWS are still using the non-managed reconciler of Kubebuilder (eg. EKSCluster).

### How could Crossplane help solve your problem?

All such controllers need to use the shared managed reconciler pattern.

[2019-09-27 16:54] hasheddan commented on #17
Closing this in favor of #16 and opening an issue of its kind on `stack-gcp`, which is where I believe this was intended to be opened.

[2019-09-27 16:54] #17 closed

[2019-09-27 19:13] #16 closed

[2019-09-28 00:36] #9 closed

[2019-09-28 00:37] #6 closed

[2019-10-04 19:44] muvaf opened #30 "AWS RDS and ReplicationGroup v1beta1 Quality"
AWS RDS and ReplicationGroup should be refactored to use generic managed reconciler and adopt patterns in https://github.com/crossplaneio/crossplane/pull/840

- [ ] RDS to use generic managed reconciler & API to be v1beta1 quality.
- [ ] ReplicationGroup API to be v1beta1 quality.
- [ ] Update YAMLs in docs that refer to these two resources.

Part of https://github.com/crossplaneio/crossplane/issu

[2019-10-09 21:13] negz opened #35 "Propagate EKS connection secret updates to bound claims"
### What happened?

EKS clusters rotate their credentials frequently. The AWS stack currently does not propagate these updated credentials from the managed resource connection secret to its bound resource claim's connection secret. Full details in https://github.com/crossplaneio/crossplane-runtime/issues/35.

### How can we reproduce it?

See https://github.com/crossplaneio/crossplane-runtime/issu

[2019-10-16 10:52] muvaf opened #37 "Adopt new external name feature"
### What problem are you facing?

The new version of crossplane-runtime introduced external name annotation that will be used as the source of truth for the name identifier on the provider's systems. By default, managed reconciler takes care of the propagation logic from claim to managed and vice versa.

However, the resources that don't get to choose their name, like `VPC` in AWS, or the ones tha

[2019-10-17 17:27] #35 closed

[2019-10-22 01:37] soorena776 opened #40 "AWS WordPress example: resources cannot be cleaned up, because of orphan resources"
### What happened?

After installing WordPress example, when cleaning up the resource connectivity resources, deleting some resources fail because they depend on resources that are created directly by Kubernetes Application. For instance, the application automatically creates a [ELB](https://aws.amazon.com/elasticloadbalancing/) load balancer, hence blocking the deletion of the `VPC`resource

###

[2019-10-22 07:46] negz opened #41 "Implement Simple Resource Class Selection for AWS"
### What problem are you facing?

Dynamic provisioning is complicated. See https://github.com/crossplaneio/crossplane/pull/926 for full context.

### How could Crossplane help solve your problem?

Implement the patterns described in https://github.com/crossplaneio/crossplane/pull/926 for the AWS Stack. Specifically:

* Make providers, classes, and managed resources cluster scoped.
* Match classes

[2019-10-24 00:56] negz commented on #40
My guess is the issue here is to do with the relationship between the `KubernetesApplication` and the `KubernetesCluster` it was scheduled to.

My recollection is that if the `KubernetesApplicationResource` controller is trying to delete a `KubernetesApplicationResource` but finds it can't connect to its scheduled `KubernetesCluster` because it no longer exists it assumes there's nothing that can

[2019-10-24 01:05] negz opened #46 "Benign ReplicationGroup reconcilation errors"
### What happened?

I noticed the following benign reconcile errors while trying out the new v1beta ReplicationGroup resource.

While creating:
[code]

While deleting:
[code]

These errors seem benign - the ReplicationGroup is created and then deleted just fine. We could probably avoid them by having the `ExternalClient` `Update` and `Delete` methods be no-op if the ReplicationGroup under reconcil

[2019-10-24 03:43] #41 closed

[2019-10-28 14:34] #30 closed

[2019-10-28 18:09] #46 closed

[2019-10-31 14:18] muvaf opened #63 "RDS Modify call is made in each reconcile when ApplyModificationsImmediately is true"
### What happened?

When `spec.forProvider.ApplyModificationsImmediately` is `true`, the patch object includes `ApplyImmediately` all the time because that doesn't exist in the corresponding SDK object. Details noted here https://github.com/crossplaneio/stack-aws/blob/master/pkg/clients/rds/rds.go#L444

### How can we reproduce it?

`ApplyModificationsImmediately` is `true` by default. So, just cr

[2019-10-31 14:22] muvaf opened #64 "TDE Encryption support for RDS resource"
### What problem are you facing?

RDSInstance spec does not have a way of configuring TDE encryption.

### How could Crossplane help solve your problem?
`TDECredentialPassword` and `TDECredentialArn` fields are needed but since sensitive information on CR is not secure, Crossplane needs to allow a secret to be used as input. Something like `TDECredentialSecretRef`

[2019-11-05 15:53] negz opened #69 "Resources requeue in a tight loop when AWS errors are returned consistently"
### What happened?

When (at least some) AWS managed resources encounter errors they requeue on a tight loop because:

* They include a unique request ID in the error string.
* A new reconcile is queued implicitly for any update to the managed resource's status.
* We update the managed resource's status whenever we encounter a reconcile error that was not identical to the most recent reconcile err

[2019-11-06 19:22] hasheddan opened #73 "Implement integration tests"
Part of crossplaneio/crossplane#1033

### What problem are you facing?

Currently, all integration testing is being run in a manual ad-hoc manner. It is desirable to automate this process and run the tests on a more frequent basis.

### How could Crossplane help solve your problem?

Initial implementation should use the framework developed to create tests for a single managed resource, as well as

[2019-11-27 11:34] muvaf opened #82 "Examples for resources without claims"
### What problem are you facing?

We have some resources that do not have a corresponding claims such as network, subnetwork etc. Only end to end tutorials expose them to the users as ready-to-use yaml files.

### How could Crossplane help solve your problem?

Add examples for those resources.

[2019-11-27 17:24] muvaf opened #83 "ReplicationGroup does not have any reference cross-resource references implemented"
### What problem are you facing?

While RDS and EKS managed resources support cross-resource referencing ReplicationGroup does not. For example, `SecurityGroupIDs` field could refer to `SecurityGroup` resource type that we have.

### How could Crossplane help solve your problem?

Implement cross-resource reference for ReplicationGroup parameters.

[2019-12-02 12:55] vadasambar opened #84 "Fill random available zones if no subnet availability zone is provided in the Subnet resource"
Can we add random availability zones as defaults based on the region selected in `EKSClusterClass` and `Provider` if no `availabilityZone` is provided for in the `Subnet` resource.

For example if the region in `Provider` and `EKSClusterClass` is `us-east-1`, `Subnet` resource's `availabilityZone` can be populated with `us-east-1a` or `us-east-1b` randomly based on the availability zones for the r

[2019-12-02 14:37] hasheddan commented on #84
@vadasambar thanks for raising this issue to improve user experience :) I believe the `availabilityZone` field is currently required on `Subnet` resources. The AWS API states that they will [select one for you](https://github.com/crossplaneio/stack-aws/blob/959e192a3c5ac4487bf38bda77142a4d3524d135/apis/network/v1alpha3/subnet_types.go#L56) if the field is not defined on creation. Are you suggestin

[2019-12-02 23:30] displague opened #85 "Add support for Amazon EC2 Instances"
### What problem are you facing?

Since MachineInstance was implemented in https://github.com/crossplaneio/crossplane/pull/942 in support of https://github.com/crossplaneio/crossplane/issues/286, https://github.com/packethost/stack-packet remains the only provider to implement this claim kind.

### How could Crossplane help solve your problem?

EC2 VM Instances should be supported for abstracting

[2019-12-03 12:50] vadasambar commented on #84
@hasheddan yes! We should let `availabilityZone` be optional and allow AWS to pick one for us if no availability zone is specified.

[2019-12-03 16:15] hasheddan commented on #84
@vadasambar Great! When the `EKSCluster` resource is moved to `v1beta1` this should be the experienced behavior because it most closely reflects the AWS API. I will keep this issue open to denote this specific desired behavior. `v1beta1` migration is loosely tracked by #24 but there will likely be another more focused issue opened when the work is being started. Thank you for raising this!

[2020-01-02 12:04] muvaf opened #95 "Implement CacheSubnetGroup resource for ReplicationGroup to be created in a VPC"
### What problem are you facing?

Replication Group resource can be created in a VPC [only if you create a cache subnet group](https://docs.aws.amazon.com/AmazonElastiCache/latest/mem-ug//SubnetGroups.html) and give [its name during creation](https://github.com/crossplaneio/stack-aws/blob/master/apis/cache/v1beta1/replication_group_types.go#L325) as opposed to EKS where you create individual subne

[2020-01-03 23:18] negz opened #99 "S3 bucket API types and controllers to v1beta1 quality"
### What problem are you facing?

S3 buckets are currently older style low fidelity API objects with a previous generation of controller code. They should be updated to v1beta1 quality per https://github.com/crossplaneio/crossplane/blob/7420e6/design/one-pager-managed-resource-api-design.md.

[2020-01-03 23:20] prasek opened #100 "AWS IAM resources to v1beta1"
### What problem are you facing?
We would like all existing v1alpha1 Crossplane IAM resources to be bumped to v1beta1 quality.

### How could Crossplane help solve your problem?
Move IAM resources to v1beta1 standards

### References
* https://crossplane.io/docs/v0.8/api/crossplaneio/stack-aws/identity-aws-crossplane-io-v1alpha3.html

[2020-01-22 01:48] phanimullapudi opened #109 "ServiceAccount integration for AWS"
### What problem are you facing?

Currently we are unable to create RDS instances using the crossplane. Due to security restrictions we are only allowed or restricted to use ServiceAccounts.

### How could Crossplane help solve your problem?

Ability to support ServiceAccount by using annotations or some other way will avoid using AWS credentials manually.

[2020-01-22 19:20] negz commented on #109
Thanks for raising this issue @phanimullapudi!

https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html

It sounds like what you want to do is leverage the above EKS functionality such that Crossplane can use an IAM role associated with a Kubernetes `ServiceAccount`, instead of using an IAM role whose access token is stored in a Kubernetes `Secret`?

It's possible we c

[2020-01-24 01:40] negz commented on #109
This is very closely related to https://github.com/crossplaneio/stack-aws/issues/110.

[2020-01-24 02:02] negz commented on #116
@SachinHg have you taken a look at our new v1beta1 RDS instances? I believe they support everything RDS supports, so you should be able to configure a backup and retention period.

[2020-01-31 15:57] phanimullapudi commented on #109
Our current EKS stack is configured to use IAM roles using OIDC. The mentioned above way looks reasonable for me.

[2020-01-31 19:02] negz commented on #109
Cross linking another related issue: https://github.com/crossplaneio/crossplane-runtime/issues/101

[2020-01-31 22:03] rberrelleza opened #122 "Support for user-defined tags for s3 buckets"
### What problem are you facing?
When creating an s3 bucket, I'd like it to be created with certain tags to help identify the owner, when it was created, the department, cost center, etc...

### How could Crossplane help solve your problem?
I'd be useful if I could specify tags in the YAML I use when claiming an S3 bucket. Maybe in https://crossplaneio.github.io/docs/v0.7/api/crossplaneio/stack-aw

[2020-01-31 22:20] hasheddan commented on #122
@rberrelleza thanks for opening this issue! I have moved it to this repo to it can be tracked closer to the source :+1:

[2020-02-06 00:02] hasheddan commented on #109
Providing an update here. We currently use `aws-sdk-go-v2` across `stack-aws` and unfortunately this functionality has not been implemented on `v2`: https://github.com/aws/aws-sdk-go-v2/issues/475

I have successfully deployed `stack-aws` in an EKS cluster using IAM roles for `ServiceAccount`, and that is working well, it is just consuming the credentials that is a bit more of a hurdle. I believe

[2020-02-17 20:54] #109 closed

[2020-02-22 01:06] prasek commented on #110
@hasheddan is this fixed now with https://github.com/crossplane/stack-aws/pull/126?

[2020-02-22 01:30] hasheddan commented on #110
@prasek yep! Thanks for flagging 👍

[2020-02-22 01:30] #110 closed

[2020-02-25 13:21] muvaf opened #137 "EKS Cluster v1beta1"
### What problem are you facing?

EKSCluster resource is still v1alpha1.

### How could Crossplane help solve your problem?

Implement v1beta1 version with the following patterns: https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md

[2020-02-25 17:02] hasheddan opened #138 "RDSInstance cannot be deleted"
### What happened?

Statically created an `RDSInstance` that was provisioned successfully and reached steady state. On deletion, AWS returned error `InvalidParameterCombination: No modifications were requested` and refused to delete. Manually deleting in AWS console resulted in successful deletion and clean-up of Crossplane resource.

### How can we reproduce it?

Create an `RDSInstance` with the

[2020-02-25 17:08] hasheddan commented on #138
Ref TODO: https://github.com/crossplane/stack-aws/blob/12b4b63972249afa4e098311e48ff3c9440360bd/pkg/controller/database/rdsinstance.go#L228

[2020-02-25 17:11] hasheddan commented on #138
Ref TODO: https://github.com/crossplane/stack-aws/blob/12b4b63972249afa4e098311e48ff3c9440360bd/pkg/controller/database/rdsinstance.go#L228

[2020-02-25 17:15] hasheddan commented on #138
Ref TODO: https://github.com/crossplane/stack-aws/blob/12b4b63972249afa4e098311e48ff3c9440360bd/pkg/controller/database/rdsinstance.go#L228

[2020-02-25 17:39] muvaf commented on #138
I think my TODO was more related to having `deletionProtection: true` because in that case even if the user changes it to `false`, it won't matter since `Update` is never called when the deletion timestamp exists. See https://github.com/crossplane/crossplane-runtime/issues/59

[2020-02-25 18:01] hasheddan commented on #138
This was solved by updating the config as follows:

[code]

This works because:
1. `applyModificationsImmediately: true` makes it such that RDS *will not* wait for the next maintenance window to apply changes. This was the source of the error described above.
2. When applying changes immediately, we must specify `skipFinalSnapshotBeforeDeletion`. If we do not, you will observe the following error

[2020-02-25 18:01] #138 closed

[2020-02-27 13:34] janwillies opened #142 "Fail to delete a VPC if an EKS cluster was created in it"
### What happened?
Created an EKS deployment incl corresponding infra resources and trying to delete it again. It's not possible to delete the VPC from crossplane, it hangs.

### How can we reproduce it?
1. Create a VPC with subnets, routetable, igw and iamrole.
2. Create and delete an EKS cluster in this VPC
3. Delete the VPC and corresponding resources.
4. Everything will be deleted except the V

[2020-02-29 11:35] janwillies commented on #122
it would be nice to have tags everywhere, at minimum the original kubernetes namespace

[2020-03-02 17:11] infinitecompute opened #145 "AWS networking and VPC resources to v1beta1"
### What problem are you facing?

Would like a v1beta1 version of networking and VPC resources

### How could Crossplane help solve your problem?

Move networking and VPC resources to v1beta1 standards

### References
* https://crossplane.io/docs/v0.7/api/crossplaneio/stack-aws/network-aws-crossplane-io-v1alpha3.html

[2020-03-02 17:13] infinitecompute commented on #100
Separated networking and VPC into [#145](https://github.com/crossplane/stack-aws/issues/145) for easier tracking.

[2020-03-02 17:14] hasheddan commented on #100
Ref #141

[2020-03-02 17:17] infinitecompute opened #146 "AWS S3 resources to v1beta1"
### What problem are you facing?

Would like a v1beta1 version of S3 bucket in storage.aws.crossplane.io/v1alpha3 resources

### How could Crossplane help solve your problem?

Move networking and S3 resources to v1beta1 standards

[2020-03-02 17:35] infinitecompute commented on #146
Closing as duplicate of [#99](https://github.com/crossplane/stack-aws/issues/99)

[2020-03-02 17:55] infinitecompute opened #147 "Add AWS DynamoDB API types and controllers"
### What problem are you facing?

Would like a alpha support for DynamoDB

### How could Crossplane help solve your problem?

Add CRD for API types and controller that follows best practices in https://github.com/crossplaneio/crossplane/blob/7420e6/design/one-pager-managed-resource-api-design.md.

[2020-03-02 18:39] infinitecompute opened #149 "Additional AWS managed resources"
### What problem are you facing?

We are gathering community feedback to help us prioritize development of additional AWS managed services and maturing of existing service implementations.
* What are the most important AWS services for you?  Please share your service list in the comments.
* What are your use cases?  This will help us understand how to best support your situation.
* Would you be in

[2020-03-03 15:16] hasheddan opened #148 "Replace Web Identity Token logic on next release of aws-sdk-go-v2"
### What problem are you facing?

We currently assume IAM roles for authentication to the AWS API using our own custom logic to get Web Identity Tokens from the file-system of the controller container. The v1 version of `aws-sdk-go` supported this use-case as an identity provider, but the v2 version did not, so we were forced to use our own implementation in the short-term.

### How could Crosspla

[2020-03-05 20:52] infinitecompute opened #151 "Expanding IAM support"
### What problem are you facing?

The current AWS IAM support includes two resources: IAMRole and IAMRolePolicyAttachment.  A high fidelity implementation of the AWS APIs would involved adding additional resources.

TODO: User story for statically provisioning a user.  IAMUser is used to add any user of S3 buckets.  IAMPolicy for bringing existing policy references.

### How could Crossplane help

[2020-03-12 11:21] muvaf commented on #149
Elasticache provisioned by Crossplane cannot live in a VPC right now due to missing managed resource `CacheSubnetGroup` right now. It's a fairly simple resource as it's basically a logical grouping of subnets. We could consider implementing it. See https://github.com/crossplane/provider-aws/issues/95 for details.

[2020-03-12 18:03] infinitecompute commented on #149
Noted, I'll add this dependency to the prioritization Muvaffak. thanks!

[2020-03-12 18:12] #83 closed

[2020-03-17 21:27] hasheddan commented on #111
@negz can we close this with continuous secret propagation?

[2020-03-17 21:32] hasheddan commented on #148
As of [v0.20.0](https://github.com/aws/aws-sdk-go-v2/releases/tag/v0.20.0), the Web Identity Credential Provider has been added. We should bump our dependency on the AWS SDK and use this functionality instead of our own implementation: https://github.com/crossplane/provider-aws/blob/62cca4c8941462a65d6499d6bba43b7cd84cdc38/pkg/clients/aws.go#L108

[2020-03-18 12:24] muvaf opened #157 "AWS SDK resources are not object-based as we assume"
### What problem are you facing?

In Crossplane [API Patterns doc](https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md#high-fidelity), high fidelity talks about exact representation of the resource in its CRD as much as possible. The assumption is that cloud provider SDK would have one struct with properties and API calls to manipulate that represen

[2020-03-18 21:09] infinitecompute commented on #157
This solution will impact the [expansion of IAM support in #151](https://github.com/crossplane/provider-aws/issues/151)

[2020-03-20 16:29] muvaf commented on #157
We had a meeting about how to decide with @hasheddan and @negz . There are cases like S3 bucket that it makes to consolidate the structs into one CRD, like [CloudFormation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket.html) and [Terraform](https://www.terraform.io/docs/providers/aws/r/s3_bucket.html) do. As stated above, there are cases where the structs

[2020-03-20 16:29] #157 closed

[2020-03-23 11:41] janwillies opened #163 "add support for custom subnets in EKS (secondary cidr ranges)"
### What problem are you facing?
The current EKS implementation does not allow to create pods in an additional subnet as per https://docs.aws.amazon.com/eks/latest/userguide/cni-custom-network.html

### How could Crossplane help solve your problem?
I would like crossplane to create EKS clusters with custom network/secondary cidr ranges. Ideally I'd like to configure them like this:

[code]

[2020-03-25 18:10] infinitecompute opened #165 "DBSubnet Group from Alpha to Beta"
### What problem are you facing?
Would like a v1beta1 version of DBSubnetGroup resources

### How could Crossplane help solve your problem?
Update it to follow v1beta1 standards

### References
* https://crossplane.io/docs/v0.8/api/crossplaneio/stack-aws/database-aws-crossplane-io-v1beta1.html

[2020-03-25 18:31] negz commented on #151
My suspicion is that we might be able to deprioritise IAM once https://github.com/crossplane/provider-aws/pull/141 is merged. We started with IAM mostly because it was (in theory) a simple service, rather than because it was super high priority. My suspicion is that now we have IAM roles, policles, and attachments modelled we've probably got most of the IAM use cases covered.

IAMUser may be the o

[2020-03-26 16:16] infinitecompute opened #168 "Add ElastiCache support"
### What problem are you facing?
Would like add support for ElastiCache resource

### How could Crossplane help solve your problem?
Enables creation of ElastiCache resources

### References
* https://crossplane.io/docs/v0.9/api/crossplane/provider-aws/cache-aws-crossplane-io-v1beta1.html

[2020-03-26 16:19] infinitecompute opened #169 "CacheSubnetGroup"
### What problem are you facing?
Would like add a CacheSubnetGroup resource

### How could Crossplane help solve your problem?
Enables creation of ElastiCache resources

### References
*

[2020-03-26 16:27] infinitecompute opened #170 "Add Simple Queue Service"
### What problem are you facing?
Add support for SQS resources

### How could Crossplane help solve your problem?
Building out AWS service support

### References
*

[2020-03-26 16:38] infinitecompute opened #171 "AWS Certificate Manager"
### What problem are you facing?
Would like add a support for certificate provisioning for SSL

#### User Story
* "Developer will provision a new or existing SSL certificate for their applications.  The request is for the operator to add an appropriate annotation to the Service of type LoadBalancer and/or the Ingress object to which the cert will be attached. "

### How could Crossplane help solve

[2020-03-26 16:55] infinitecompute opened #172 "Add Route53 DNS Support"
### What problem are you facing?
DNS provisioning from Route53.

### How could Crossplane help solve your problem?
Enables creation of Route53 DNS resources.  This is a subset of Route53 features (to be listed)

### References
*

[2020-03-26 17:00] infinitecompute opened #173 "Add Lambda support"
### What problem are you facing?
Would like add a AWS Lambda support.

### How could Crossplane help solve your problem?
Add Lambda as a managed resource.  It is unclear how this would be supported within Crossplane without design input.

### References
*

[2020-03-26 17:02] infinitecompute opened #174 "Add Kinesis support"
### What problem are you facing?
Add Kinesis support.

### How could Crossplane help solve your problem?
Enables creation of Kinesis managed services

### References
*

[2020-03-26 17:04] infinitecompute opened #175 "Simple Notification Service support"
### What problem are you facing?
SNS support

### How could Crossplane help solve your problem?
Add SNS managed resource

### References
*

[2020-03-26 18:54] muvaf commented on #149
@infinitecompute RDS is already `v1beta1`

[2020-03-27 03:26] negz commented on #151
Following up on my most recent comment, I believe in rough order of priority we'll need:

1. Everything that is included in #141
1. A managed resource that represents an IAM policy.
1. A managed resource that represents an IAM user.
1. A managed resource that represents the attachment of an IAM policy to an IAM user.

I believe this will enable our current use cases, the ability to grant a user ac

[2020-03-27 11:31] muvaf opened #177 "Support inline IAM policies"
### What problem are you facing?

Today, it's possible to refer to an existing policy in `IAMRolePolicyAttachment` to attach it to a role. But it's not possible to attach an inline policy [as described here](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_managed-vs-inline.html).

The use-case that this will enable is finer granularity in IAM policies like described [here](https:/

[2020-03-30 17:05] infinitecompute opened #180 "Elastic Load Balancer support"
### What problem are you facing?
Add support for Ingress and Elastic Load Balancer resources

User Story:
* Dependency on user story in Certificate provisioning #171

### How could Crossplane help solve your problem?
Building out ELB service support

### References
*

[2020-03-30 21:26] negz commented on #116
Hi @SachinHg, I'm going to mark this as resolved, as I believe we now support this. Please let me know if that's not the case.

[2020-03-30 21:26] #116 closed

[2020-03-30 22:02] negz opened #181 "Support backup and restore of all AWS managed resources"
### What problem are you facing?

When a managed resource is backed up and subsequently restored using a tool like https://velero.io the newly restored managed resource should resume reconciliation of the external resource that was created by the backed up resource. This should be true for all AWS managed resources that support the `crossplane.io/external-name` annotation. This annotation set and/

[2020-03-30 22:14] negz commented on #168
We already have support for AWS ElastiCache ReplicationGroups. I don't think adding cache cluster support would add much value; I believe you can do everything you can do with a cache cluster using a replication group. We'll still want cache clusters eventually, but it's not a high priority.

[2020-03-31 16:25] muvaf commented on #181
It seems like all network stuff will be [v1beta1 soon](https://github.com/crossplane/provider-aws/pull/182) and they all use external name in the PR. I'll work on EKSCluster, which is the only one now that is not being worked on.

[2020-03-31 16:48] infinitecompute commented on #100
Apparently this didn't get linked to the PR: https://github.com/crossplane/provider-aws/pull/141
PR has been merged, closing this.

[2020-03-31 16:48] #100 closed

[2020-03-31 21:32] #146 closed

[2020-04-02 19:00] negz commented on #181
Heads up @sahil-lakhwani, @gauravgahlot (and CC @infinitecompute) that #162 and #182 are currently the highest priority controller PRs to get wrapped up and merged, because they'll fix this related issue. Please let me know if they become at risk of not being completed by April 10th.

[2020-04-03 01:45] prasek opened #187 "VPC limit exceeded: EKS ReplicaSet has timed out progressing; reason: ProgressDeadlineExceeded"
### Problem
Dynamically provisioning an EKS cluster as part of a Crossplane application into an AWS region that has exhausted the VPC limit (default limit of 5 VPCs / region) doesn't self-heal the EKS cluster being provisioned, resulting in no EKS nodes and pods in the target cluster that stay in `Pending` forever. Even though CF is successful, EKS nodes are not provisioned. Switching to a differe

[2020-04-06 21:25] infinitecompute commented on #181
@negz Is CacheSubnet Group [#186](https://github.com/crossplane/provider-aws/pull/186) intentionally excluded from this list?

[2020-04-06 22:05] negz commented on #181
@infinitecompute It is. This is a list of existing API types that don't support backup and restore. CacheSubnetGroup doesn't exist today; it's new functionality.

[2020-04-07 17:19] infinitecompute commented on #181
PR updates to #162 and #182 were pushed.  Please do a final review pass and merge.

[2020-04-08 13:32] sahil-lakhwani commented on #151
@negz Should this have a managed policy (arn) or an inline policy (JSON document) or both?

[2020-04-08 17:43] #165 closed

[2020-04-10 02:35] negz commented on #181
@infinitecompute @sahil-lakhwani we ended up fixing up the network resources for backup and restore in https://github.com/crossplane/provider-aws/pull/191, so #182 is no longer urgent priority.

[2020-04-10 02:35] #181 closed

[2020-04-13 18:05] prasek opened #195 "Provide self-contained readme overview / getting started in app.yaml and readme.md"
### Problem
Getting started can be challenging without an overview and basic getting started steps. Having the overview and getting started docs self-contained in the repo's readme.md and the app.yaml ensures that as changes are made in a given repo, the docs can be updated in the same PR, and that published stacks can be self-documenting. Over time this getting started content can be aggregated b

[2020-04-20 22:19] Promaethius opened #199 "Custom Endpoints"
### What problem are you facing?
Deploying a Crossplane enabled Kubernetes in Private AWS VPCs that has custom service endpoints.

### How could Crossplane help solve your problem?
The AWS Golang SDK supports resolution for custom endpoints:

https://github.com/aws/aws-sdk-go/blob/9c9db07028aeb7d607e54b2b5aa97bbbbebcbbfd/service/s3/endpoint.go#L102
https://github.com/aws/aws-sdk-go/blob/4b8b821e1b

[2020-04-20 23:29] arush-sal commented on #172
The basic types for AWS Route53 `Hosted Zone` and `Resource Record Set` has been created and can be found [here.](https://github.com/arush-sal/provider-aws/tree/v1alpha3-route53)

[2020-04-26 21:33] prasek opened #201 "failed to delete the VPC resource: DependencyViolation: The vpc has dependencies and cannot be deleted. status code: 400"
### Problem
Deleting an EKS cluster takes a very long time, and when I delete the `AWSSample` CR right after deleting a `WordpressInstance` CR, the VPC delete appears to timeout waiting for the EKS cluster to delete, resulting in the following error:

[code]

If the controller is timing out waiting for dependencies to be deleted, can the grace period be extended, so we don't encounter this issue?

[2020-04-26 21:36] prasek commented on #201
same for the Subnets

[code]

[2020-04-26 21:39] prasek commented on #201
trying to delete the subnet again via `kubectl` gives the following

[code]

[2020-04-26 21:43] prasek commented on #201
same for the internet gateway

[code]

[2020-04-26 21:45] prasek commented on #201
trying to delete the internetgateway via `kubectl` gives

[code]

[2020-04-26 21:55] prasek commented on #201
trying to delete the subnets via AWS console gives:
![image](https://user-images.githubusercontent.com/284840/80320885-f663c300-87cd-11ea-9ec8-2c1fefaf4550.png)

![image](https://user-images.githubusercontent.com/284840/80320876-e946d400-87cd-11ea-858b-cc45c8209561.png)

this security group was left behind as well:
![image](https://user-images.githubusercontent.com/284840/80320844-bac8f900-87cd-11

[2020-04-26 22:03] prasek commented on #201
attempting to delete the security group says net interfaces have to be deleted:

![image](https://user-images.githubusercontent.com/284840/80320974-84d84480-87ce-11ea-91c2-5a04874abadd.png)

but trying to detach the network interfaces gives the following error and deleting is greyed out:
![image](https://user-images.githubusercontent.com/284840/80321060-06c86d80-87cf-11ea-913c-fe1b33f4fc06.png)

[2020-04-26 22:09] prasek commented on #201
[code]

but this routetable was also left behind:

![image](https://user-images.githubusercontent.com/284840/80321171-df25d500-87cf-11ea-9ac0-b07c2cb45140.png)

[2020-04-26 22:19] prasek commented on #201
![image](https://user-images.githubusercontent.com/284840/80321331-1a74d380-87d1-11ea-90c0-703bb412db8e.png)

Trying to detach the internet gateway gives the following:
![image](https://user-images.githubusercontent.com/284840/80321351-485a1800-87d1-11ea-85a7-2d0dbb827025.png)

[2020-04-26 22:40] prasek commented on #201
might be related to https://github.com/weaveworks/eksctl/issues/1960

[2020-04-26 22:58] prasek commented on #201
deleting the orphaned ELB allowed me to delete the k8s-elb-* security group ☝️

![image](https://user-images.githubusercontent.com/284840/80322020-c1a83980-87d6-11ea-8128-d91d0abc37a3.png)

[2020-04-26 23:03] prasek commented on #201
Crossplane has now successfully deleted my VPC, subnets, internet gateway, route tables, and all other networking resources that were supposed to be deleted. Nice to see continuous reconciliation hard at work. 🙂 🚀

Would be good for Crossplane to keep a watch out for orphaned EKS ELBs and security groups so they don't prevent a stack's networking resources from being cleanly deleted.

[2020-04-27 01:45] prasek commented on #201
@hasheddan note this didn’t repro in a separate environment just now so this is definitely intermittent behavior.

[2020-04-27 18:57] rathpc commented on #201
I just ran into this problem as well

[2020-04-27 19:12] rathpc commented on #201
I had to manually delete the load balancer and security group for that load balancer before reconciliation cleaned up the rest.

[2020-04-30 22:17] prasek opened #208 "EKSCluster stuck in the Creating state, can Crossplane detect and repair this?"
### Problem
EKS cluster got stuck in the `Creating` state for over 2 hours:
![image](https://user-images.githubusercontent.com/284840/80764033-aa2dc100-8af4-11ea-8d12-55beeabe7369.png)

Eventually 2.5 hours later the ☝️ cluster did become `Active`.

However about 30 minutes into this, I got impatient, deleted the `KubernetesCluster` claim (the underlying managed resource didn't get deleted in this

[2020-04-30 22:28] prasek opened #209 "Deleted `KubernetesCluster` claim didn't result in the underlying `EKSCluster` managed resource being deleted"
### Problem
EKS cluster got stuck in the `Creating` state for over 2 hours as described in #208

Deleted `KubernetesCluster` claim didn't result in the underlying `EKSCluster` managed resource being deleted, possibly due to it still being provisioning:

[code]

Eventually the EKS cluster went from `Creating` to `Active` in the AWS console, but would have expected the `EKSCluster` to have been dele

[2020-04-30 22:37] prasek commented on #209
@hasheddan @muvaf after the `EKSCluster` went to `Ready: true` I deleted the managed resource and the cluster started deleting as expected in the AWS console. Not sure why deleting the `KubernetesCluster` claim didn't result in the `EKSCluster` managed resource getting deleted.

![image](https://user-images.githubusercontent.com/284840/80765670-6e94f600-8af8-11ea-82d8-2203e36793b5.png)

[2020-05-01 00:15] prasek opened #210 "VPC with dependencies marked as deleted, but not actually deleted when dependencies are removed"
UPDATE 10/20/2020: See related https://github.com/upbound/platform-ref-aws/issues/3
- this may be due to a `RouteTable` update instead of delete:
https://github.com/upbound/platform-ref-aws/issues/3#issuecomment-713025391

### Problem
Deleted a `VPC` managed resource that had a bunch of dependencies that were eventually automatically deleted by AWS, but it's been maybe an hour and the `VPC` manage

[2020-05-01 00:16] prasek commented on #210
//cc @hasheddan @muvaf

[2020-05-01 00:48] muvaf commented on #210
AWS console deletes the dependencies as well but AWS SDK deletion call doesn't. I usually  use the script [suggested by AWS here](https://aws.amazon.com/tr/premiumsupport/knowledge-center/troubleshoot-dependency-error-delete-vpc/) to see whether there are still dependencies left. @prasek were you able to check the dependencies with that script?

[2020-05-01 19:11] hasheddan commented on #199
Hi @Promaethius! Thanks for opening this issue :) I wanted to confirm I am following your desired feature here. Are you talking about private VPC endpoints? (ref: https://docs.aws.amazon.com/vpc/latest/userguide/vpc-endpoints.html)

[2020-05-01 20:45] prasek commented on #209
@prasek can you create an crossplane ticket for this and crosslink here?

[2020-05-02 00:05] prasek commented on #201
Ran into this again in my staging environment just now.

Looks like the k8s-ELB load balancer got cleaned by EKS, but it still left it's security group hanging out:
![image](https://user-images.githubusercontent.com/284840/80849821-ca7d7e80-8bcd-11ea-9977-15326a718f07.png)

Deleting the orphaned security group resulted in Crossplane successfully deleting the VPC below that was previously stuck.

<

[2020-05-05 00:28] hasheddan commented on #209
@prasek and I discussed this out of band, but for anyone else viewing this issue the behavior occurred because the claim was not yet `Bound` to the resource. This is expected behavior but is somewhat non-intuitive if you dynamically provisioned the managed resource.

[2020-05-05 00:32] hasheddan commented on #208
It is not clear in this scenario what repairing this situation entails. One solution would be for Crossplane to delete the managed resource after a period of time, but we can not guarantee this is the behavior a user would want. I think the right solution here is to let the the resource continue to provision. A user may manually clean up in this situation if they do not want to wait.

[2020-05-05 00:49] hasheddan opened #211 "Re-enable support for IAM Roles for Service Accounts"
### What happened?

To conform with Crossplane's new default security context for stacks (https://github.com/crossplane/crossplane/pull/1444), the `provider-aws` container now runs as non-root (https://github.com/crossplane/provider-aws/pull/202). Because we set the non-root user in the Dockerfile, users must rebuild the container to run as root user in order to be able to read the AWS credentials

[2020-05-05 02:06] Promaethius commented on #199
@hasheddan yes!

[2020-05-05 10:58] hasheddan commented on #199
@Promaethius Nice! We do not currently support this, but one way to add this functionality would be to add an annotation to objects that indicate a private endpoint to use instead of the service default. Does that sound like a viable solution for your use-case? An example may look like:

[code]

[2020-05-05 15:12] hasheddan commented on #211
Some other relevant issues/PRs:
- https://github.com/aws/amazon-eks-pod-identity-webhook/issues/8
- https://github.com/kubernetes/kubernetes/issues/82573
- https://github.com/kubernetes/enhancements/pull/1598

[2020-05-05 16:25] muvaf commented on #209
@hasheddan I agree. It should delete whatever it started provisioning process of even though it never became ready/bound.

[2020-05-06 14:10] janwillies opened #212 "improve user experience for IAM Roles for Service Accounts"
### What problem are you facing?
Currently IAM Roles for Service Accounts (IRSA) require quite some manual tinkering: https://github.com/crossplane/provider-aws/blob/master/AUTHENTICATION.md#steps

The steps are probably ok for setting up `provider-aws` itself, but for `KubernetesApplications` or applications directly installed into the target cluster it would be nice to make the provisioning easi

[2020-05-06 19:17] prasek commented on #201
Just ran into this again but this time both the k8s ELB got orphaned this time:
- Security group for Kubernetes ELB a73f8714d082c4e95ac2c4e9043799f3 (wp1/wordpress)
- ELB itself

Deleting the ELB first, and then the security group resolved the issue and then Crossplane was able to delete the `InternetGateway`, `Subnets` and `VPC`.

[2020-05-11 12:11] rajalokan opened #213 "Running `make` command fails."
### What happened?

Failure when running `make` command from the home of repo as below:
[code]

### How can we reproduce it?

- Close latest master
- change to dir
- Run `make`

### What environment did it happen in?
Crossplane version:
latest Master

[2020-05-11 12:30] hasheddan commented on #213
Hey @rajalokan! Apologies, this can be a bit confusing :/ I believe if you run `make submodules` first then this should work for you 👍

[2020-05-11 13:31] rajalokan commented on #213
I'm afraid, this didn't solve for me.
[code]

Getting same error. In my investigation it fails at [this line](https://github.com/upbound/build/blob/e8fb77d69aefc49dd2e9ead59da21bd719cacb78/makelib/golang.mk#L347) while doing curl GOLANGCILINT.

[2020-05-11 14:43] rajalokan commented on #213
Seems to be issue with my local setup. Thanks for the quick help.

[2020-05-11 14:43] #213 closed

[2020-05-12 19:38] prasek opened #218 "AWSServiceRoleForAmazonEKS, could not be assumed because it does not exist or the trusted entity is not correct"
### Problem
`EKSCluster` fails to provision with
[code]

Using:
- Wordpress v0.5.0-rc.6.g7ac7d7a
- AWS Provider v0.10.0-rc.2.g5ee25e7
- AWS Sample Stack v0.6.0-rc.2.g83df171
- Crossplane 0.10.0

<details><summary>EKSCluster resoure</summary>
apiVersion: compute.aws.crossplane.io/v1alpha3
kind: EKSCluster
metadata:
  annotations:
    crossplane.io/external-name: cy-wp70757
  creationTimestamp: '202

[2020-05-12 19:39] hasheddan commented on #218
Looks like this could be the issue: https://gitlab.com/gitlab-org/gitlab/-/issues/38010

[2020-05-12 19:48] prasek commented on #218
Manually deleting the `EKSCluster` was successful.

[2020-05-12 19:50] hasheddan commented on #218
@prasek do you know if you may have used the same role for authenticating and provisioning your cluster? (i.e. it appears that link above suggests you cannot use the same role to auth and in this field of the `EKSCluster`: https://doc.crds.dev/github.com/crossplane/provider-aws/config/crd/compute.aws.crossplane.io_eksclusters.yaml#spec-roleARN)

[2020-05-16 22:10] muvaf commented on #211
@hasheddan Looking at https://github.com/kubernetes-sigs/external-dns/pull/1185#issuecomment-530439786 , is there any unexpected or bad side effects of using `securityContext.fsGroup: 65534` for all packages in package-manager?

[2020-05-18 16:40] rajalokan commented on #137
Hi I would like to work on this. My proposal for implementing this is to provide support for below API types:
- EKSCluster
- FargateProfile
- NodeGroup

Out of which EKSCluster is already implementated ( but using deprecated **Reconciler Pattern**). As part of this

 [ ] I would be re-implementing `EKSCluster` managed resource but using **Managed Resource API Patter** as per this [doc](https://git

[2020-05-18 16:40] rajalokan commented on #137
/assign

[2020-05-19 09:20] yogeek commented on #199
Hi @hasheddan , if it can be useful, here is my use case for VPC Endpoint / Endpoint Service :

I have a K8S cluster with Istio and 2 Istio ingress gateways : one is meant to be avalaible from internet for external customers, the other is only for internal services, not exposed externally but only for corporate access.
Today, to implement the second case, the ingress gateway istio k8s service is c

[2020-05-19 17:52] rajalokan commented on #137
Adding to above please find each API Types below and review them. These are Parameter APIs.

## EKS Cluster
[code]

[2020-05-19 17:53] rajalokan commented on #137
## NodeGroup API Type
[code]

[2020-05-19 17:54] rajalokan commented on #137
## FargateProfile API Type
[code]

[2020-05-25 02:37] rberrelleza opened #227 "Restore RDS Instance from a backup"
# What problem are you facing?
Every night, a new snapshot with the latest test data is generated and stored in S3. I'd like to be able to use that data when creating an RDS instance with Crossplane.

AWS supports this natively: https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_RestoreDBInstanceFromS3.html

[2020-05-25 04:48] cmdallas opened #228 "Support the use of EC2 spot instances as worker nodes"
### What problem are you facing?

The current [worker node spec](https://github.com/crossplane/provider-aws/blob/d2ddf8ff9521dcbfbeba2215f35f9b401414e1ef/apis/compute/v1alpha3/types.go#L146) does not support the use of spot instances.

### How could Crossplane help solve your problem?

Expose support for the use of [EC2 spot fleets](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aw

[2020-05-25 05:33] Niksko commented on #211
This is a blocker for us using Crossplane. Adding `securityContext.fsGroup: 65534` to the provider deployment seems to re-enable IRSA support. Is it possible to add this to a manifest in this repository so that it only applies to this Crossplane provider, or does it require a change in the Crossplane package manager?

[2020-05-25 13:44] hasheddan commented on #211
@muvaf I think that would be fine. Another option would be to just set it in the `install.yaml` for AWS and then run Crossplane with `—insecure-pass-full-deployment`, which would cause Crossplane to not overwrite the security context. That being said, it would be nice if this “just worked”, so I think setting it in Crossplane should be the right solution 👍 I’ll get this fixed!

[2020-05-28 18:36] rajalokan commented on #175
I've started working on this. Details of my implementation is below:
### TOC
- API Type Design
- Working Resource Example
- Complete Resource Example (with items which needs clarification)
- Questions

### API Type Design.
This group will contain Two API Types
1. SNSTopic
2. SNSSubscription

### Working Resource Example
#### SNSTopic
[code]

#### SNSSubscription
[code]
### Proposed Complete Resour

[2020-05-29 05:23] arush-sal opened #230 "Add Support for AWS Redshift"
### What problem are you facing?

The support for AWS Redshift is missing from Crossplane right now.

### How could Crossplane help solve your problem?

We should add support for AWS Redshift through which we can create, manage, and update an AWS Redshift cluster with various clusters config parameters.

[2020-06-01 08:20] sahil-lakhwani opened #231 "Update `IAMUserPolicyAttachment` to refer `IAMPolicy`"
### What problem are you facing?

This `IAMUserPolicyAttachment` resource currently can refer to a IAM Policy in AWS by it's ARN. This issue is to update `IAMUserPolicyAttachment` so that it can refer to a IAM Policy in AWS voia an `IAMPolicy` resource in Crossplane.

### How could Crossplane help solve your problem?

There is already a resource in Crossplane called `IAMPolicy`. So, `IAMUserPolicy

[2020-06-01 08:24] sahil-lakhwani opened #232 "Update IAMRolePolicyAttachment to refer IAMPolicy"
### What problem are you facing?

This `IAMRolePolicyAttachment` resource currently can refer to a IAM Policy in AWS by it's ARN. This issue is to update `IAMRolePolicyAttachment` so that it can refer to a IAM Policy in AWS voia an `IAMPolicy` resource in Crossplane.

### How could Crossplane help solve your problem?

There is already a resource in Crossplane called `IAMPolicy`. So, `IAMRolePolicy

[2020-06-01 08:29] sahil-lakhwani opened #233 "Add IAMGroup as a custom resource"
### What problem are you facing?

AWS IAM resources such as `IAMUser`, `IAMRole` and `IAMPolicy` are already supported by `provider-aws`. It would be nice to have `IAMGroup`. There can also be support for creating a relation between an `IAMUser`  and `IAMGroup` resources

### How could Crossplane help solve your problem?

Add a CRD and the respective controller for managing AWS IAM Group resource.

[2020-06-01 08:42] sahil-lakhwani opened #234 "Add AWS Lambda Function as a custom resource"
### What problem are you facing?

[AWS Lambda](https://aws.amazon.com/lambda/) is a managed service to run web services the 'serverless' way. It is common among AWS users to user a single or multiple Lambda Functions.
It would be nice to have Crossplane to manage this Lambda functions

### How could Crossplane help solve your problem?

Although AWS Lambda has many features an integrations, we can

[2020-06-02 05:59] sahil-lakhwani opened #235 "Add API Gateway as a managed resource"
### What problem are you facing?

With Load balancers already in work, and Lambda proposed, API Gateway would be good for users manage REST APIs

### How could Crossplane help solve your problem?

This provider can have APIGateway as a managed resource which can provision anf manage AWS API Gateway

[2020-06-02 06:07] sahil-lakhwani opened #236 "Add CloudFront as a managed resource"
### What problem are you facing?

Cloudfront is a popular CDN offering from AWS and a lot of users do use it for their web services which are public.
It would be nice for provider-aws to support this

### How could Crossplane help solve your problem?

This provider can have a managed resource Cloudfront to provision and manage AWS Cloudfront

[2020-06-02 06:29] sahil-lakhwani opened #237 "Add Auto Scaling Group as a managed resource"
### What problem are you facing?
For stacks using EC2 instances aiming for auto-scaling, Auto Scaling Group is a service provided by AWS

### How could Crossplane help solve your problem?

This provider can have Autoscalingroup as a managed resource to provision amd manage AWS Auto Scaling Groups

[2020-06-02 08:58] sahil-lakhwani opened #238 "Add AWS ElasticSearch Service as managed resource"
### What problem are you facing?

Elasticsearch is a powerful full text search engine, pretty commonly used for logging and analytics.
AWS provides a managed service to provision and manage Elasticsearch. Having a managed resource that can provision an ElasticSearch would be nice.

### How could Crossplane help solve your problem?

This provider can have a managed resource to to provision and main

[2020-06-02 09:08] sahil-lakhwani opened #239 "Add AWS EMR Cluser as a managed resource"
### What problem are you facing?

EMR is a managed service from AWS for processing vast amounts of data using open source tools such as Apache Spark, Apache Hive.
Having a managed resource that can provision an EMR can help users from the big data community to manage their clusters.

### How could Crossplane help solve your problem?

EMR has a various supported features, we can start with an EMR c

[2020-06-02 23:05] negz commented on #227
Do you have any thoughts on how this might be modelled @rberrelleza? It seems like a fairly imperative API operation. One option would be to mirror Terraform's approach and essentially make it a subobject of our spec, maybe `spec.forProvider.createFromBackup` or similar?

[2020-06-02 23:15] negz commented on #228
Thanks for the feature request @cmdallas! One potential snag here is that we plan to move away from using CloudFormation under the hood in favour of managed node groups as part of https://github.com/crossplane/provider-aws/issues/137. It seems like managed node groups don't currently support spot instances per https://github.com/aws/containers-roadmap/issues/583.

[2020-06-03 00:01] rberrelleza commented on #227
That's what I was thinking @negz .  The [AWS command](https://docs.aws.amazon.com/cli/latest/reference/rds/restore-db-instance-from-s3.html) receives the location of the backup as a parameter. I think the same could be done here on a sub-object, to keep it clean, as you suggest:
[code]

Rhe 'recover from s3' functionality is aws-only, but cloudsql also has a similar mechanism to [create a DB from

[2020-06-03 03:55] negz opened #241 "Update contributing docs"
### What problem are you facing?

Crossplane has a few guides for potential contributors - i.e. CONTRIBUTING.md, INSTALL.md, the build submodule docs, the services developer guide, the definition of done doc, and the Github PR templates. These docs are a little stale, and quite a lot to discover and read through.

### How could Crossplane help solve your problem?

I'd like to take a pass at cleani

[2020-06-03 09:40] muvaf commented on #228
FWIW, it seems like AWS team is currently working on this feature, you can see the issue in `We're working on it` column here https://github.com/aws/containers-roadmap/projects/1

We'll likely begin the upgrade of EKS to `v1beta1` quality very soon but my gut says we'll complete it before the spot instance support. Though it should be pretty straight-forward to add the spot instance support after

[2020-06-03 17:30] muvaf commented on #201
Fixed by https://github.com/crossplane/crossplane/pull/1567 , https://github.com/crossplane/crossplane/pull/1556 and https://github.com/crossplane/templating-controller/pull/18

[2020-06-03 17:30] prasek commented on #218
This is not reproducing with v0.11, so closing for now.

[2020-06-03 18:02] rajalokan commented on #232
/assign @rajalokan

[2020-06-04 18:36] #211 closed

[2020-06-05 17:12] milindchawre commented on #85
+1
Eagerly waiting for this feature. Just imagining what all cool things can be built once its implemented.m

[2020-06-11 12:48] janwillies opened #246 "Creating an aurora-postgresql RDSInstance fails with MasterUsername missing"
### What happened?
Applying an RDSInstance manifest with engine `aurora-postgresql` leads to weird issues:
[code]
According to the docs, the setting does not apply to aurora (https://github.com/aws/aws-sdk-go-v2/blob/v0.18.0/service/rds/api_op_CreateDBInstance.go#L478-L482)

When I supply the masterUsername, it complains about other missing values, which should not be necessary (according to the d

[2020-06-11 13:12] hasheddan commented on #246
Do you mean supplying the values in the manifest you provided work in the AWS console?

[2020-06-11 16:30] hasheddan opened #247 "Add additional unit tests for RDS client package"
### What problem are you facing?

The `pkg/clients/rds` package only has ~35% unit test coverage. This is well below the desired level.

### How could Crossplane help solve your problem?

Implement additional unit tests to achieve coverage similar to other client packages (ideally 85%+).

[2020-06-18 21:58] hasheddan opened #251 "v1beta1 EKS Cluster cannot have tags removed"
### What happened?

The v1beta1 EKS `Cluster` resource cannot have tags removed because when a diff in tags is observed, only the [TagResourceRequest](https://pkg.go.dev/github.com/aws/aws-sdk-go-v2@v0.23.0/service/eks?tab=doc#Client.TagResourceRequest) call is made. If a tag is to be removed, we should be calling the [UntagResourceRequest](https://pkg.go.dev/github.com/aws/aws-sdk-go-v2@v0.23.0/s

[2020-06-19 11:18] janwillies commented on #212
Now that eks-v1beta1 support has arrived (thanks @hasheddan!) there's is an OIDC field available which helps a lot.

IRSA Setup is described here: https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html

One solution might be to write an `irsa-controller` which does the following:
1. Watch for new CRs of type `EKSCluster`
4. Create `IAMRole` with `as

[2020-06-19 14:44] muvaf commented on #212
I think the first 4 can be achieved with composition. You'd create a `Composition` with `EKSCluster`, `IAMPolicy`, `IAMRole` and `IAMRolePolicyAttachment` that refer to each other.

I see that the `ServiceAccount` that needs to be created in the `EKSCluster` is something like this:
[code]

And composition doesn't support templating like Helm where you can get a value from one of the resources and

[2020-06-19 15:23] janwillies commented on #212
thanks, I'll take a closer look at composition!

Re templating: I think `IAMRole` needs a value from `EKSCluster` too ( namely `status.atProvider.identity.oidc.issuer` for the trust policy)

[2020-06-22 20:42] kferrone commented on #232
I was about to submit this same request. I can not reliably guess the ARN because of the account id in the ARN.

Some solutions I have imagined for this issue:
 - When referencing a policy, reference it exactly how a role is referenced. With a role you can choose from the following methods to reference: `roleName, roleNameRef, or roleNameSelector`.
 - if policy ARN omits the Account ID, then use t

[2020-06-23 09:48] muvaf commented on #232
I took a stab at this in https://github.com/crossplane/provider-aws/pull/257

@kferrone The way the referencers work is that we supply [a custom `func`](https://github.com/crossplane/provider-aws/pull/257/files#diff-053411cd6b4857d12788c7944658461bR59) to get any value from the struct. In this case, we get the policy ARN from `status.atProvider` which is the exact representation of what AWS return

[2020-06-24 16:24] cooktheryan opened #259 "Allow for NAT gateways to be created"
### What problem are you facing?
Currently, no NAT gateway functionality exists to create this item within crossplane. If the functionality would be introduced we would also need to be able to modify route tables to use the created NAT gateway.

### How could Crossplane help solve your problem?
functionality would need to be created to allow for this component to be created.

[2020-06-24 19:50] cooktheryan opened #260 "Allow for Elastic IP creation"
### What problem are you facing?
Elastic IP address requesting would allow for EC2 instances to use the address. Elastic IP addresses would also be a requirement for #259

### How could Crossplane help solve your problem?
Introduce the ability to request an elastic IP address

https://pkg.go.dev/github.com/aws/aws-sdk-go-v2@v0.23.0/service/ec2?tab=doc#Client.AllocateAddressRequest

[2020-06-24 20:10] negz commented on #170
I'm going to call this fixed by https://github.com/crossplane/provider-aws/pull/222. We may want to add queue policies at some point too, but let's wait until someone has a use case for that.

[2020-06-24 20:10] #170 closed

[2020-06-25 08:18] #232 closed

[2020-06-25 19:28] davidmitchell2019 commented on #199
Is it possible to use Crossplane AWS inside a VPC with no internet access? or is it possible to use it with a PROXY inside another VPC using a private link?

[2020-06-28 23:53] enderv commented on #247
Taking a stab at this one as I have time

[2020-06-28 23:54] hasheddan commented on #247
Thanks @enderv! Let me know if we can provide any assistance 🙂

[2020-06-29 21:35] #247 closed

[2020-07-01 09:55] kelvinwijaya opened #267 "Creating an aurora-mysql RDSInstance fails with allocatedStorage, dbInstanceClass missing bug"
### What happened?
Crossplane throwing an error when spinning aurora based DB, basically I would like to spin up DB that has read replicas and that is why I am chossing engine type aurora and aurora-mysql.

According to the provider-aws RDSInstance api doc, those field such as allocateStorage and dbInstanceClass is not required for aurora based DB.

So i did try without putting any of these 2 fiel

[2020-07-01 14:44] kferrone opened #268 "AWS DocumentDB Support"
### What problem are you facing?
We use DocumentDB at our org. Would love to provision it with Crossplane. We are using crossplane to provision our other AWS services. Since Document DB is not supported with Crossplane, I would need to find another way to install it.

### How could Crossplane help solve your problem?
All services would be provisioned the same way.

[2020-07-01 14:55] muvaf commented on #267
Hi @kelvinwijaya ! From what I can tell, `allocatedStorage` field is not applicable to Aurora Engine. Here is an excerpt from its doc:
[code]

That's probably why AWS rejects to create it. However, I couldn't really see where that `oscar` came from. Could you retry without specifying the `allocatedStorage` field?

On another note, I realized that the field `dbClusterParameterGroupName` should not

[2020-07-01 19:32] kelvinwijaya commented on #267
Hi @muvaf ,

Thanks for highlighting the dbparametergroupname and dbclusterparametergroupname differences, i have tried to substitute those fields and it seem the error with `oscar` still persist

Another thing is if we remove allocatedStorage, there will be some validation error and that is the reason why I put it back in first place , else will hit into followoing :

[code]
**Note:** From the do

[2020-07-01 23:03] mper0003 commented on #231
This feature and/or issue #177 would be great to have and really useful since we usually need to create an IAM policy suitable for each case following least privilege principle. Hopefully we can have these soon.

[2020-07-02 05:40] kelvinwijaya opened #269 "S3 Bucket provisioning should include Permission boundary attachement during iam user creation"
### What problem are you facing?
I have a policy restriction on iam user creation for my organization and it required us to attach pre-defined PermissionBoundary

Understand that S3 Bucket provisioning controller did create iam user with permisson to allow user accessing the bucket using API Access Key and Secret (https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateUser.html)

### How co

[2020-07-02 07:55] sahil-lakhwani commented on #231
This has been addressed in #257 and can be closed.

[2020-07-02 07:56] #231 closed

[2020-07-02 10:18] muvaf commented on #267
Thanks for the additional information! If I understood correctly:
* As per the documentation of [`CreateDBInstanceReadReplica`](https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_CreateDBInstanceReadReplica.html) call, it cannot be used for Aurora clusters, so, the right call for creating a read replica instance of Aurora is indeed `CreateDBInstance`, which is what's used in RDS control

[2020-07-02 10:37] muvaf commented on #269
Hi @kelvinwijaya ! S3 bucket is one of the oldest controllers and [in the queue](https://github.com/crossplane/provider-aws/issues/99) to be updated to our latest runtime capabilities and specifically to have the granularity you'd like. Feel free to show your support on that issue!

[2020-07-03 05:04] #175 closed

[2020-07-03 12:20] kelvinwijaya commented on #267
Hi @muvaf ,

Glad that you verify further more on the API documentation

So what **can** be achieve now with the RDSInstance crd is :
1. Create RDS DBInstance (non-aurora)
2. Attach RDS Read Replica (aurora) to existing manually pre-created DB cluster (in AWS console) by specifying `spec.forProvider.dbClusterIdentifier`--> but still with error which i think is related to crossplane constraint, int

[2020-07-03 12:29] kelvinwijaya commented on #269
Hi @muvaf

Thanks for the update on the product roadmap, may i know if someone has taken this enhancement task up?
As when time permit, i would see how i can support on this issue, so i assume the guidelines are describe in the contributing section

[2020-07-03 16:45] muvaf commented on #269
@kelvinwijaya Yeah, you're more than welcome! As addition to contributing section, you can take a look at the following sources to get to up to speed quickly:
* Managed Resource Development Guide - https://crossplane.io/docs/v0.12/contributing/services_developer_guide.html
* The Youtube episode where we implemented GCP PubSub Topic resource live - https://www.youtube.com/watch?v=rvQ8N0u3rkE

[2020-07-03 17:45] muvaf opened #272 "Support for RDS Database Cluster"
### What problem are you facing?

Clustering is very common in databases. There is support for DB instances but not clusters.

### How could Crossplane help solve your problem?

Implement DB cluster managed resource using [create-db-cluster](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-cluster.html) call.

[2020-07-03 18:05] muvaf commented on #267
Thank you for the summary @kelvinwijaya ! I have opened https://github.com/crossplane/provider-aws/pull/273 to allow password entry to cover the use case and I was able to join an existing Aurora cluster with the YAML in that PR. Github didn't let me add you as reviewer but feel free to leave comments.

[2020-07-04 01:27] kelvinwijaya commented on #267
Hi @muvaf

Many thanks, i have read your PR that you have done some changes to allow the read replica joining use cases, just to clarify, the Aurora cluster you have created is from the AWS console or from crossplane CR?

[2020-07-04 01:41] kelvinwijaya commented on #269
Hi @muvaf , Thanks for the pointers. these will be helpful

[2020-07-06 01:13] kelvinwijaya commented on #246
Hi @janwillies ,

i faced the same issue with aurora engine db provisioning.. there are few thing that currently crossplane can and cannot support and some bug fixes that the team has implemented: pls check out the comments on: https://github.com/crossplane/provider-aws/issues/267

[2020-07-06 08:07] muvaf commented on #267
@kelvinwijaya no problem!

I created it through the AWS Console. The PR added the ability to specify a password, which in turn allows you to supply an empty password so that the instance can join an existing cluster.

[2020-07-06 11:10] muvaf commented on #246
I have used the YAML provided here and while debugging it required `masterUsername` and `allocatedStorage` (aurora instances do not have allocation) to be present. I went ahead and added them, then it rejected `iops` being `0` but after I added, it rejected because aurora instances do not allow to specify `iops`. The errors:
[code]
(I guess manfred is their internal name for aurora-postgresql)

[c

[2020-07-06 11:10] #246 closed

[2020-07-07 07:48] muvaf commented on #199
I believe we need two managed resources to be implemented, `VPCEndpoint` and `VPCEndpointService`. @yogeek @Promaethius  Are you interested in contributing? I haven't looked into them very deeply but I can tell their complexity is similar to PubSub Topic we [implemented during a TBS](https://www.youtube.com/watch?v=rvQ8N0u3rkE). Also, [Managed Resource Developer Guide](https://crossplane.io/docs/m

[2020-07-07 07:48] muvaf commented on #199
@yogeek @Promaethius feel free to open separate issues for `VPCEndpoint` and `VPCEndpointService` resources and assign to yourself if you'd like to.

[2020-07-07 08:44] #172 closed

[2020-07-07 13:55] hasheddan commented on #199
@muvaf it is possible to add environment variables when building a package, but not at install time. For instance, we could do the following:

[code]

This is definitely something we should consider as part of the design for packages. We will need some sort of pass through configuration, but this will also make updates and dependency resolution potentially more complicated.

[2020-07-08 17:38] #267 closed

[2020-07-09 10:49] janwillies opened #276 "v1beta1 EKS Cluster cannot change the API server endpoint access from public to private"
### What happened?
The v1beta1 EKS Cluster resource cannot change the API server endpoint access from public to private.

### How can we reproduce it?
Create an EKS Cluster with public access. Attempt to change it to private.
[code]
Nothing happens.

### What environment did it happen in?
Crossplane version: v0.11.1
provider-aws version: 1d7f738

[2020-07-09 11:21] muvaf commented on #276
I've looked at the code and the update request does [include](https://github.com/crossplane/provider-aws/blob/8db22ae/pkg/clients/eks/eks.go#L170) those fields. Could you share some YAMLs that I can try to reproduce?

[2020-07-09 12:05] janwillies commented on #276
This is the yaml:
[code]

[2020-07-10 19:21] kferrone opened #277 "Redis ReplicationGroup never finishes"
### What happened?

I created a composition for launching redis in a replication group using the ReplicationGroup kind. Everything was created except for the final secret which would be propagated to the namespace of the requirement. The reason seems to be the ReplicationGroup is stuck in a modifying state even though in the AWS console the ReplicationGroup is completely provisioned and ready to r

[2020-07-13 13:53] muvaf opened #278 "Temporary LDAP creds do not work"
### What happened?

Using LDAP temporary creds that AWS provides doesn't work with Crossplane. An additional session token field is used in the credentials blob and it looks like the following:
[code]

[2020-07-13 14:15] #278 closed

[2020-07-13 15:03] kferrone commented on #277
I'm getting a similar issue with RDS now.
This happens after MySQL has been up for a while:
[code]

[2020-07-13 15:44] hasheddan opened #280 "Add support for S3 BucketPolicy"
### What problem are you facing?

`provider-aws` users are not currently able to make custom policies for the S3 `Bucket` type.

### How could Crossplane help solve your problem?

Add support for a `BucketPolicy` type that references a `Bucket`.

https://pkg.go.dev/github.com/aws/aws-sdk-go-v2@v0.23.0/service/s3?tab=doc#PutBucketPolicyInput

This is tangential to the work that will be done to impl

[2020-07-13 17:07] kferrone commented on #277
Here is my exact setup to recreate:
[code]

[2020-07-13 18:01] yogeek opened #281 "updated aws_session_token does not seem to be retrieved during reconciliation"
### What happened?
As explained in [Slack discussion](https://crossplane.slack.com/archives/CEG3T90A1/p1594660771127300), I used a temporory aws_session_token in aws-creds secrets and created a resource with it but when I renewed the token after it has been revoked, and updated the secret accordingly, the controller did not seem to get the new one from the secret automatically.
I had to kill the a

[2020-07-13 19:27] enderv opened #283 "VPC doesn't populate name tag when used in composition"
## What happened?
Expected the name for vpc to be populated with the composition resource name the same way other resources get the composition resource name.
### How can we reproduce it?
Edited the yaml to remove alot of specific information but this should be good to reproduce.

[code]

### What environment did it happen in?
Crossplane version: 0.12.0
AWS Provider version was from node group PR

[2020-07-13 19:40] muvaf commented on #277
Hi @kferrone ! I was able to reproduce the issue for `ReplicationGroup` and opened a PR to address the problem https://github.com/crossplane/provider-aws/pull/284

Could you post your `RDSInstance` YAML so that I try to reproduce the problem?

[2020-07-13 19:43] muvaf commented on #283
Hi @enderv ! I couldn't get what you were expecting exactly? Do you mean you were expecting the name of the `VPC` resource to be `test-vpc`, i.e. same name as the requirement type?

[2020-07-13 19:57] enderv commented on #283
Yeah I didn't do a good job of explaining. So say VPC resource `test-vpc-64pww` gets created. I would expect to be able to go into the AWS console and see a VPC with name `test-vpc-64pww`. Right now the VPC will show as unnamed but has the tag `crossplane-name: test-vpc-64pww`.

[2020-07-13 20:06] kferrone commented on #277
Here is my instance I have running at the moment:
[code]

[2020-07-13 20:13] #277 closed

[2020-07-13 20:14] kferrone commented on #277
Just to note, the issue with RDS did not show up for a while. I ran on Friday and there were no issues, on Monday I realized it was stuck modifying.

[2020-07-13 20:24] muvaf commented on #283
Oh, got it. AWS VPC menu shows a column called `Name` but that's actually just a tag on the resource, i.e. the actual VPC object doesn't have a `name` field. For example, if you look at AWS CLI [vpc creation method](https://docs.aws.amazon.com/cli/latest/reference/ec2/create-vpc.html), there is no name. But if you add a tag with key `Name` then it'll fill up that column.

As you see, we populate a

[2020-07-13 20:28] jbw976 commented on #277
#284 automatically closed this issue @muvaf, but we still need to find/fix the issue with `RDSInstance`.  do you want to re-open this issue, or open a new tracking issue? (probably makes sense to re-open this issue since it has the details from @kferrone already here)

[2020-07-13 20:56] enderv commented on #283
Yep sorry again didn't make that clear I would expect this behavior by default on resources.

[2020-07-14 08:53] muvaf commented on #283
It seems to me that the `Name` column is just a AWS Console UI trick, rather than a standard. I don't think provider-aws should take an action there just like AWS CLI/Terraform or any other consumers of the AWS API don't. So, I'll close this issue and my earlier comment should help people to achieve the same effect on the UI.

[2020-07-14 08:53] #283 closed

[2020-07-14 10:14] muvaf opened #285 "AWS RDS keeps saying "no modifications were requested""
### What happened?

AWS RDS resource gets into a state where its status condition always says `no modifications were requested`, which is an indicator of unnecessary update request. Original bug report: https://github.com/crossplane/provider-aws/issues/277#issuecomment-657764312

### How can we reproduce it?

Following is the YAML with many parts borrowed from @kferrone 's YAML in https://github.c

[2020-07-14 10:36] muvaf commented on #277
@jbw976 I opened https://github.com/crossplane/provider-aws/issues/285 for RDS issue and a PR to fix it https://github.com/crossplane/provider-aws/pull/286

@kferrone FWIW, both of these bugs show up on the status but they don't really affect your actual resources, so, you'd never experience a down time because of them. That's one of the good things about being just a control plane rather than dat

[2020-07-14 12:48] #285 closed

[2020-07-14 15:57] yogeek opened #287 "s3bucket deletion stuck"
### What happened?
I tried to create an S3 bucket but a timeout occured and prevented the cloud resource to be created in AWS
Then, I wanted to delete this resource in k8s but the command stucked on
`s3bucket.storage.aws.crossplane.io "s3bucket" deleted`

### How can we reproduce it?

- Launch a kind cluster
- Temporarily cut the network connection
- Try to create the following s3bucket :
[code]
-

[2020-07-14 16:12] yogeek commented on #287
UPDATE : in fact, it does not seem to be linked by the internet connection loss, because I just did another test when the S3 bucket was created in AWS and the delete command is also stuck...

Details :
[code]

[2020-07-14 16:18] yogeek commented on #287
UPDATE 2 : the `describe` on the bucket resource gave the reason after some time :
[code]
After I emptied the bucket, the delete command manages to delete the bucket in AWS but the command is still stuck and never gives back control even if the bucket is no longer there...

[2020-07-14 17:00] janwillies commented on #276
Thanks for taking this on @hasheddan!

I debugged with @muvaf a bit further, it seems crossplane doesn't notice at all when I modify the `cluster` object (e.g. a cluster update from 1.16 to 1.17 also doesn't work). I'm a bit puzzled b/c I [definitely tested this](https://crossplane.slack.com/archives/CEF5N8X08/p1592432748423100?thread_ts=1591983084.401800&cid=CEF5N8X08) and it's the same installat

[2020-07-14 17:14] hasheddan commented on #276
I am guessing this is related to https://github.com/crossplane/provider-aws/issues/251 and it is seeing a tag diff every reconcile and then trying to remove tags but is instead submitting an add tags request that is reporting successful each time without fixing the problem.

[2020-07-15 17:29] krishchow opened #290 "Expand on Installation documentation"
### What problem are you facing?

Although there is currently an INSTALL.md file in the top level of the AWS provider, there are no instructions for how to actually deploy/install the provider inside of a Kubernetes cluster.

### How could Crossplane help solve your problem?

I think it would be beneficial to expand on this documentation for any developers working on the AWS provider.

[2020-07-16 09:54] muvaf commented on #290
Hi @krishchow ! Are you looking for the installation to a cluster? There is a section in [`Install & Configure`](https://crossplane.io/docs/v0.12/getting-started/install-configure.html) of the main docs. If that's what you're looking for, do you mean it'd be more helpful to have those instructions in readme.md or install.md?

[2020-07-16 10:39] muvaf commented on #287
Hi @yogeek ! S3 bucket controller is a legacy controller that we don't really support anymore and we'll try to update it to v1beta1 patterns & controllers soon. You can give a thumbs-up here https://github.com/crossplane/provider-aws/issues/99

I have opened a PR to fix this specific issue to unblock you for now https://github.com/crossplane/provider-aws/pull/291

[2020-07-16 10:47] muvaf commented on #276
@hasheddan why would it detect a tag diff every reconcile if not tag is changed?

[2020-07-16 11:53] hasheddan commented on #276
@muvaf it could be that AWS added another tag on the resource that was not in the `spec`. Or it could be that the create request does not apply tags correctly. Either way, if a tag needed to be removed it would keep trying to Tag instead of Untag.

[2020-07-16 12:44] #287 closed

[2020-07-17 21:59] #276 closed

[2020-07-20 08:07] muvaf commented on #276
@janwillies Would you be able to confirm that you don't experience this problem using `master` branch?

[2020-07-20 14:18] #230 closed

[2020-07-20 18:02] janwillies commented on #149
We are a user of `DocumentDB`, it would be great to see this supported: https://github.com/crossplane/provider-aws/issues/268

[2020-07-21 06:13] nicorikken commented on #149
We are looking into [ECR](https://aws.amazon.com/ecr/) support. Our use-case (as discussed on Slack):

I'm still not sure if Crossplane is the right solution for our use-case, that might take until October this year. If it does, we might contribute code to implement this feature.

[2020-07-22 17:21] krishchow commented on #290
Ah my apologies @muvaf, I can see how my original post was unclear, I specifically meant for services developers who are actively working on changes to the AWS Provider. I was not able to find much by way of documentation for running the provider.

[2020-07-23 17:10] muvaf commented on #251
Fixed by https://github.com/crossplane/provider-aws/pull/288

[2020-07-23 17:10] #251 closed

[2020-07-23 17:11] muvaf commented on #137
@hasheddan I think having merged both `Cluster` and `NodeGroup` PRs are enough to close this PR. What do you think?

[2020-07-23 17:24] hasheddan commented on #137
@muvaf yep! Thanks :)

[2020-07-23 17:24] #137 closed

[2020-07-23 23:43] kferrone opened #296 "SecurityGroups never finish creating"
### What happened?
SecurityGroups never finish. The status Ready is always false. I have waited for quite some time and it does not seem to change.

### How can we reproduce it?
Try this out:
[code]

### What environment did it happen in?
Crossplane version: 0.12.0
Provider-aws: 0.11.0

[2020-07-23 23:45] hasheddan commented on #296
@kferrone thanks for opening this! Any logs or status you could share with us? Do you see the security group in the AWS console?

[2020-07-23 23:50] kferrone commented on #296
I do see them in the AWS console. From AWS side they are created perfectly fine. There are no useful logs in Crossplane controller. I searched and it all looks like it is working just not finishing.

[2020-07-24 00:08] hasheddan commented on #296
Is the external name annotation present?

[2020-07-24 03:52] kferrone commented on #296
It is indeed present

[2020-07-24 12:04] janwillies commented on #163
AWS announced future plans how to improve this feature: https://github.com/aws/containers-roadmap/issues/398#issuecomment-663120574, especially:
- https://github.com/aws/containers-roadmap/issues/865 (`configMap` instead of `aws-node` daeamonset environment variables)
- https://github.com/aws/containers-roadmap/issues/867 (removing max pods and custom `ENIConfig` CRs)

This should make the impleme

[2020-07-24 12:20] janwillies commented on #276
yes, this works now- thanks @muvaf and @hasheddan!

[2020-07-24 12:32] muvaf opened #297 "Egress and Ingress rules should be separate from SecurityGroup"
### What happened?

SecurityGroup object has arrays for both ingress and egress rules but according to our [managed resource API design](https://github.com/crossplane/crossplane/blob/master/design/one-pager-managed-resource-api-design.md#high-fidelity), they should be separate CRDs.

[2020-07-24 13:41] muvaf commented on #296
@kferrone Thanks for reporting! There seems to be two issues regarding the up-to-date that is caused by using `-1`. It's fixed with #298

[2020-07-25 09:19] muvaf commented on #297
I am not 100% sure about this as these rules do not have anything to identify them at all. It's literally the set of all properties that make up an identifier and this argument could go for any array element of all managed resources.

[2020-07-25 09:20] muvaf opened #300 "Not possible to remove rules from securitygroup"
### What happened?

The controller supports only addition but not removal of egress/ingress rules.

AWS: 0.11.0

[2020-07-25 09:20] #296 closed

[2020-07-26 05:05] hiteshghia-splunk commented on #272
This would be awesome to have! Seems like a very common use case for anyone building a service  and wanting to use crossplane for their infra management.

[2020-07-27 15:11] janwillies opened #301 "Not possible to delete SecurityGroup"
### What happened?
I created a `SecurityGroup` successfully but I am not able to delete it. It disappears from crossplane, but the `SecurityGroup` is still present at AWS

### How can we reproduce it?
Create the following `SecurityGroup` and then try do delete it:
[code]
### What environment did it happen in?
Crossplane version:
crossplane: v0.12.0-6.g47acf6f
provider-aws: 778a71cc241103b48ea4ff3d

[2020-07-27 15:14] hasheddan commented on #301
@janwillies thanks for opening this? Have you just started observing this behavior in recent commits? There was a recent fix merged that is included at the commit hash you reference above. However, it did not touch the delete logic so I would not expect it to affect this.

[2020-07-27 15:17] janwillies commented on #301
Indeed this is new behaviour. I'm not sure when it was introduced, but it definitely worked before.

[2020-07-27 15:20] hasheddan commented on #301
/cc @muvaf

[2020-07-27 15:26] janwillies commented on #301
We noticed first with the latest release, and then updated to master to verify if it was actually fixed by the commit from @muvaf (but it wasn't)

[2020-07-27 15:33] hasheddan commented on #301
@janwillies thanks :+1: Could you try creating again and making sure that the external name annotation is set? My immediate suspicion is that it is somehow making the `Delete` call with the wrong value, and then ignoring the "not found" error, but I am not certain:

https://github.com/crossplane/provider-aws/blob/778a71cc241103b48ea4ff3d12bf0aea7a92bfb7/pkg/controller/ec2/securitygroup/controller.

[2020-07-27 15:44] janwillies commented on #301
The kubernetes object has the external-name annotation set correctly as far as I can tell:

[code]

[2020-07-27 17:44] kferrone opened #302 "Integrate AWS Identity with EKS Auth"
### What problem are you facing?
There is no declarative way of mapping IAM resources to the EKS aws-auth ConfigMap. When creating any of the resources from `identity.aws.crossplane.io`, you would still have to manually update the `aws-auth` configmap.

### How could Crossplane help solve your problem?
Maybe there could be an optional feature on the `identity.aws.crossplane.io` resources which cou

[2020-07-28 07:22] janwillies commented on #302
This is connected to https://github.com/crossplane/crossplane/issues/1641

Some prior art:

- https://github.com/TierMobility/aws-auth-operator
- https://github.com/jicowan/group-operator
- https://github.com/keikoproj/aws-auth
- https://github.com/ygrene/iam-eks-user-mapper
- https://github.com/keikoproj/iam-manager

[2020-07-28 11:30] kelvinwijaya opened #304 "SecurityGroup does not allow to include ingress source from another SG"
### What happened?

Trying to add ingress source from another security group but it returns error:

[code]

Tested from AWS UI console to entry ingress record as security group is ok

example:

[code]

### How can we reproduce it?
See the above sample manifest for SG

### What environment did it happen in?
Crossplane version: 0.11.1
provider-aws: master (most recent)

[2020-07-28 11:38] kelvinwijaya opened #305 "Deletion of DBSubnetGroup CRD fail while reinstalling ClusterPackageInstall (provider-aws)"
### What happened?
Trying to remove the dbsubnetgroup resource by removing ClusterPackageInstall (provider-aws)
Deletion not happening as crd still intact (and because of that the installation of new ClusterPackageInstall failed , suspect some finalizer logic doesn't allow the crd deletion to happen

Temporary solution is to overwrite the finalizer to make sure that the crd deletion is clean:
exam

[2020-07-28 13:50] hasheddan commented on #304
Hi @kelvinwijaya! Thanks for opening this. I believe to specify a source security group you need to include it in the [`userIdGroupPairs` block](https://doc.crds.dev/github.com/crossplane/provider-aws/ec2.aws.crossplane.io/SecurityGroup/v1beta1#spec-forProvider-ingress-userIdGroupPairs). This mirrors the [shape of the AWS SDK](https://pkg.go.dev/github.com/aws/aws-sdk-go-v2@v0.24.0/service/ec2?tab

[2020-07-28 13:51] hasheddan commented on #305
@kelvinwijaya unfortunately CRD deletion is blocked if instances of that CRD still exist (a `DBSubnetGroup` in this case). We are working on making this upgrade / reinstall path smoother and should have a better solution in the near-term future.

[2020-07-28 13:53] hasheddan commented on #301
@janwillies following up here, did you have any status on the `SecurityGroup`? It looks like it was being used for EKS, so the existence of the cluster may have blocked its deletion

[2020-07-28 14:05] hasheddan commented on #304
@kelvinwijaya quick follow up here, even if these values are supplied correctly, I am not certain that we are evaluating them correctly. I am investigating now 👍

[2020-07-28 16:08] hasheddan commented on #199
@muvaf one thing we might could do here in the short-term is surface values on the `Provider` type to configure the proxy. I imagine we could inject the values into clients for each service, and it also would not restrict an installation of `provider-aws` to always use a proxy or never use it. It would select how to access the AWS API based on the referenced `Provider`. What do you think?

[2020-07-28 16:44] janwillies commented on #301
The SG was created and deleted without being used by EKS. The status is
[code]

[2020-07-28 16:52] janwillies commented on #301
Upon further inspection I see that `reclaimPolicy` is not set and the default is `Retain`. Setting it to `Delete` correctly removes it from AWS. Sorry for the noise!

[2020-07-28 16:52] #301 closed

[2020-07-28 16:54] hasheddan commented on #301
@janwillies no worries! Thanks for reporting anyway :)

[2020-07-28 18:31] muvaf commented on #304
@hasheddan I realized that there is a mismatch between what's available and what's used as conversion function, so, as you said that field is not used. Preparing a small PR now.

[2020-07-29 11:09] muvaf opened #307 "Support for AWS Elastic Container Registry (ECR)"
### What problem are you facing?

There is no managed resource for ECR.

### How could Crossplane help solve your problem?

Implement a managed resource for ECR.

[2020-07-29 13:35] muvaf commented on #163
@janwillies does that mean if we pushed just a `ConfigMap`, that'd be all users need to do to get CNI?

[2020-07-29 14:51] janwillies commented on #163
That is my understanding. However they also mention a tagging based option which will automatically discover secondary CIDR subnets for pods.

I guess we have to wait for the implementation, but it sounds really promising

[2020-07-29 15:26] muvaf commented on #297
FWIW, deletion of `SecurityGroup` also deletes all `Ingress` and `Egress` rules. So, in case we did separate them into their own types, we'd see leftover rules in the cluster whose `SecurityGroup` doesn't exist anymore.

[2020-07-29 18:58] kferrone commented on #304
The SecurityGroups should be able to reference itself as the source as well. I'm assuming this would be possible with referencing another group as a source right?

[2020-07-29 19:20] kferrone opened #308 "Support for NAT Gateways (and others) and Reference them with RouteTable"
### What problem are you facing?
I am unable to create a NAT Gateway and add it as a route to my RouteTables. The RouteTable Should be able to reference a NAT Gateway as a route just like how a RouteTable can route to an InternetGateway. AWS provides quite a bit of targets to route to, Crossplane only provides one, Internet Gateway.

### How could Crossplane help solve your problem?
The route tabl

[2020-07-29 20:15] #304 closed

[2020-07-29 21:06] kferrone commented on #259
I did not see this was already requested. I made almost the same request here #308 .

[2020-07-30 00:33] enderv commented on #260
I'm gonna take a stab at this as I have time.

[2020-08-04 10:44] kelvinwijaya opened #312 "Redshift CRD cannot properly created by ClusterPackageInstall"
Due to the CRD (clusters.redshift.aws.crossplane.io) with openAPIV3Schema validation https://github.com/crossplane/provider-aws/blob/v0.11.0/config/crd/redshift.aws.crossplane.io_clusters.yaml

![image](https://user-images.githubusercontent.com/11241076/89284245-0c143e80-d681-11ea-92aa-31251ea4c967.png)

## What happened?
Error in ClusterPackageInstall, Type is wrong for maximum and minimum field

[2020-08-04 17:30] krishchow opened #313 "ReplicationGroup should have referencer support for cacheSubnetGroup"
### What problem are you facing?
Hi, I am attempting to use the ReplicationGroup to create a Redis cluster on AWS. I am creating a composition to create all the necessary VPC subnets/security group. However, for the cache subnet group, although I create a CacheSubnetGroup, the name is generated, and I cannot reference this inside of my ReplicationGroup CR.

### How could Crossplane help solve your

[2020-08-04 19:10] hasheddan commented on #313
@krishchow good catch! The `CacheSubnetGroup` resource is pretty new. Would you want to add the referencers in the `ReplicationGroup` to it?

[2020-08-05 19:01] #313 closed

[2020-08-06 16:37] mcavoyk opened #315 "Support structured fields for IAM policies"
### What problem are you facing?

Today the `IAMPolicy` type supports a `Document` string field for the IAM policy. This expects a [json document](https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html#access_policies-json) for the policy definition. My use case is I would like to create IAM policy within a composition and have fields within the document patched based on other resou

[2020-08-06 16:37] mcavoyk commented on #315
This would also help with https://github.com/crossplane/provider-aws/issues/212

[2020-08-06 16:40] hasheddan commented on #315
@mcavoyk thanks for opening this! We have considered supporting both structured and unstructured simultaneously (with one taking precedence over the other) by having a field such as `rawStatement` if folks want to copy paste their json from the console. How does this solution sound to you?

[2020-08-06 17:01] hasheddan commented on #312
@kelvinwijaya was the RDS CRD already present when you created the `ClusterPackageInstall`?

[2020-08-06 19:04] negz commented on #315
This seems like the same (or a similar) use case to https://github.com/crossplane/crossplane/issues/1603.

[2020-08-06 19:42] mcavoyk commented on #315
Yeah that is what I'm proposing with the issue, offering both json string field and a structured field, with json string taking precedence.

It's definitely the same sort of use case, around trying to make IAM role for service account easier, but I think having a structured IAM Policy will solve other use cases as well, when a composition would like to create a resource and the policy for an appli

[2020-08-06 20:21] prasek commented on #145
finished via https://github.com/crossplane/provider-aws/pull/182

[2020-08-06 20:34] prasek commented on #145
@hasheddan just realized that [RouteTable](https://doc.crds.dev/github.com/crossplane/provider-aws/ec2.aws.crossplane.io/RouteTable/v1alpha4@v0.11.1) is still at `v1alpha4`, so keeping this open for now.

[2020-08-06 20:46] prasek commented on #147
@negz looks like this was wrapped up in https://github.com/crossplane/provider-aws/issues/161, so closing this out.

[2020-08-06 20:46] #147 closed

[2020-08-06 22:54] prasek commented on #151
completed via:
- https://github.com/crossplane/provider-aws/pull/141
- https://github.com/crossplane/provider-aws/pull/194
- https://github.com/crossplane/provider-aws/pull/196
- https://github.com/crossplane/provider-aws/pull/249

[2020-08-06 22:54] #151 closed

[2020-08-06 23:47] prasek commented on #233
fixed via https://github.com/crossplane/provider-aws/pull/249

[2020-08-06 23:47] #233 closed

[2020-08-06 23:51] prasek commented on #171
fixed via:
 - https://github.com/crossplane/provider-aws/pull/226
 - https://github.com/crossplane/provider-aws/pull/243

[2020-08-06 23:51] #171 closed

[2020-08-06 23:51] prasek commented on #180
fixed via: https://github.com/crossplane/provider-aws/pull/262

[2020-08-06 23:51] #180 closed

[2020-08-07 00:02] prasek commented on #149
@janwillies added to the list ☝️

@nicorikken - looks like @muvaf created #307 for this and it's added to the list

Also note that we're looking at code generation options for the AWS provider (e.g. crossplane/crossplane#262) so we'll be getting support for a lot more cloud services shortly. 🚀

[2020-08-07 03:14] kelvinwijaya commented on #312
Hi @hasheddan , yes the existing RDS CRD is there already, anyway this issue happen only for Redshift CRD . the RDS one is updated successfully, this issue happen after i pull the latest version of ClusterPackageInstall as i have always been pointing to master branch, understand the Redshift CRD addition is quite recent based on you branch commit date

[2020-08-11 20:28] krishchow opened #316 "Provider unable to deploy in Openshift"
### What happened?

When attempting to deploy the AWS provider into an Openshift cluster, the deployment will be created, but it will fail to create the pod for the controller. It cites an error in the fsGroup for the security context.

### How can we reproduce it?

Install a fresh version of master for the AWS provider onto Crossplane, see the logs for the pod before it crashes

### What environm

[2020-08-11 20:33] hasheddan commented on #316
@krishchow thanks for opening this! This was added to enable the IAM roles for EKS clusters as described in https://github.com/crossplane/provider-aws/issues/211. When investigating this I remember reading that Openshift assigns a pseudo-random fsGroup. This is likely something that we should make configurable to providers at install time, but we do not currently have a mechanism to do so. I will

[2020-08-12 16:09] hasheddan commented on #99
cc @krishchow

[2020-08-13 18:52] krishchow opened #317 "SecurityGroup Inaccurate Invalid JSON Comparison"
### What happened?

The AWS Security group accepts lists of IPPermission structs to store the ingress and egress rules. However, if multiple rules are provided, it is possible the CR will never resolve. The controller compares the JSON from AWS to a marshaled version of the SecurityGroup, since we cannot make any guarantees about the order of elements in the JSON list sent back by the API, we cann

[2020-08-13 18:54] #280 closed

[2020-08-17 08:27] janwillies opened #319 "manage policies of KMS key"
### What problem are you facing?
We would like to manage policies of an existing KMS key, so that IAM-Roles are able to use that key for encryption of AWS resources

### How could Crossplane help solve your problem?
Crossplane would update the `Principal` with the new IAM-Role. E.g. implement `PutKeyPolicy` from https://docs.aws.amazon.com/sdk-for-go/v2/api/service/kms/#Client.PutKeyPolicyRequest

[2020-08-18 19:17] muvaf commented on #319
We synced with @janwillies and Hendrik offline. I'll write a summary here for future reference.

The use case is some kind of aggregation similar to `IAMRolePolicyAttachment` where you have N `IAMRolePolicyAttachment`s to 1 `IAMRole`. However, in KMS case, there is only 1 Key Policy in AWS API and it can only be added via `PutKeyPolicy`. So, we'll move forward with implementing `kind: Key, apiVers

[2020-08-20 10:41] muvaf commented on #212
@janwillies We were talking about propagation of values from the composed resources to the composite (https://github.com/crossplane/crossplane/issues/1639) status or annotations/labels with @negz . I think when we get that feature landed, then these raw templating will be much easier. For example, you could have a patch where you send `status.atProvider.identity.oidc.issuer` of EKSCluster to `stat

[2020-08-25 04:17] kelvinwijaya commented on #312
Hi @hasheddan ,

Have installed with the latest `crossplane/provider-aws:master` repo _commitid_: 19f472d223e97934c64aec511c6d237e43532300, issues on refshift cluster crd creation seem has gone.

Thanks,
Kelvin

[2020-08-25 11:46] kelvinwijaya commented on #280
Hi @hasheddan @krishchow ,

Not sure if i should comment here, i have tested the S3 Bucket Policy Support to be attached to my S3 bucket

**First scenario** is to use matchLabels to link to my S3 bucket and it failed to find the resource

Errors:

[code]

[code]

**Second scenario** is to use map to the exact bucketname and username. This seem to have no issue to tie to the bucket but i got malfor

[2020-08-25 12:50] kelvinwijaya opened #321 "S3 BucketPolicy creation failed"
Hi @hasheddan @krishchow ,

Understand that S3BucketPolicy has just been merged to master branch, i have tested the S3 Bucket Policy Support to be attached to my S3 bucket

**First scenario** is to use matchLabels to link to my S3 bucket and it failed to find the resource

Errors:

[code]

[code]

**Second scenario** is to use map to the exact bucketname and username. This seem to have no issue to

[2020-08-25 15:18] krishchow commented on #321
Hi @kelvinwijaya, thanks for the detailed post! This will be super helpful as I debug this issue.

For the 1st case you mentioned, I was able to replicate the issue you are facing, and I am looking into why this is happening.

For the 2nd case, the "Resource" field does not require that you prefix the bucket name with "arn:aws:s3:::", we prepend that in the controller for the policy to make it a b

[2020-08-25 16:15] kelvinwijaya commented on #321
HI @krishchow ,

Thanks for your kind reply

For **1st scenario**, as my object is propagated from requirement -> composite -> managed resource object, somehow the metadata labels are not propagated fully. but i did try some other labels that is generated by the composite controller , unfortunately even when i put the labels there in the selector fields , the s3 bucket policy is not showing in the

[2020-08-25 17:31] krishchow commented on #321
This is something that I discussed with the maintainers for this project, I'm just being trying to figure out the best way to represent the Condition in the CR before we begin adding support. There are definitely plans for this in the future though!

So this is a case where a sample might be helpful as well. For the principal AWS values, you **can** supply the entire ARN string - e.g., "arn:aws:ia

[2020-08-25 23:06] prasek commented on #308
/cc @muvaf ☝️

[2020-08-26 02:08] kelvinwijaya commented on #321
Hi @krishchow ,

Thanks for your detailed explanation and to hear that the CR for Conditions is already WIP

Sure, i would need some examples for `userNameSelector, userNameRef`, understood that iamuser has been generated during S3 bucket creation , currently i have to view managed resource CR and copy the value to userName field. but if i can use some selector by label or any kind of reference ,

[2020-08-26 16:18] #260 closed

[2020-08-27 09:14] kelvinwijaya commented on #305
Miss up replying this ticket, look forward for that @hasheddan . But at least now when we forced delete the CRD through patching the finalizer to null , workload created on crd specs still exist in runtime

[2020-08-27 11:42] kelvinwijaya commented on #304
Have oversight this ticket and now have i have chance to followup

Thanks @hasheddan @muvaf for the fix to add sg into the ingress rules. I verified with following input parameters and it works like charm

[code]

[2020-08-27 15:54] kelvinwijaya commented on #122
Hi @hasheddan ,

Would like to know if i can work on adding the tagging support in S3Bucket v1alpha3 api?

The api will be based on following: https://github.com/aws/aws-sdk-go-v2/blob/master/service/s3/api_op_PutBucketTagging.go

[2020-08-28 00:49] enderv commented on #307
Taking a stab at this as I have time

[2020-08-28 06:55] mper0003 opened #323 "Import existing aws IAM policy fails"
### What happened?

I'm creating `IAMPolicies` using crossplane. I already have some IAM policies in my aws account that I would like to import into my cluster as a crossplane managed resource. I tried using the `crossplane.io/external-name` annotation as specified in the documentation [here](https://crossplane.io/docs/v0.11/introduction/managed-resources.html#importing-existing-resources). Howeve

[2020-08-28 16:42] muvaf commented on #323
Hi @mper0003 ! Could you copy the exact format of the `crossplane.io/external-name` you provided? From my reading of [the code](https://github.com/crossplane/provider-aws/blob/master/pkg/controller/identity/iampolicy/controller.go#L123), it expects full ARN of the policy.

[2020-08-30 00:43] mper0003 commented on #323
Hi @muvaf , I only provided the name of the policy in the `crossplane.io/external-name`, following [this](https://crossplane.io/docs/v0.11/introduction/managed-resources.html#importing-existing-resources) documentation.
Using the existing policy full ARN works, so I'm closing this issue. Thank you!

[2020-08-30 00:43] #323 closed

[2020-08-31 09:03] muvaf commented on #323
Yeah, it's usually easy to guess what format `crossplane.io/external-name` expects but in some cases like this one, it could be hard and I'm not aware of a place we have this documented. @hasheddan can we add comment for special annotations like this one in docs.crds.dev?

[2020-08-31 09:41] muvaf commented on #122
Hi @kelvinwijaya . I have created a few commits for v1beta1 Buckets and handed off to @krishchow and he's working on it right now. So, I suspect that your PRs could land around the same time and yours may not get merged. So, it's up to you. I'd be happy to merge your PR but it will probably be removed before the release.

[2020-08-31 15:32] #38 closed

[2020-08-31 15:59] krishchow commented on #321
Hi @kelvinwijaya, hopefully, the examples were useful to show you how the effectIAMUser flag could be used to reference the user created by the S3Bucket for the time being.

As for the bucketNameSelector, one of the examples listed uses the labels along with the bucketNameSelector to reference the bucket, in that example, it works without any issues, could you provide some more context into your u

[2020-09-01 11:40] kelvinwijaya commented on #122
Hi @muvaf . Thanks! I actually have done the changes, just that pending to test. Understand that the v1beta1 has been WIP by @krishchow , it could help on the tagging feature to be propagated into the next version.

Btw, I have issue after pulling the latest master branch for provider-aws, I didn't face any build issue last friday but when i pull the latest code today, got the following:

[code]

[2020-09-01 13:01] muvaf commented on #122
@kelvinwijaya That issue seems to be caused because of my recent update of crossplane-runtime dependency. ElasticIP has been implemented while that update was still an open PR. This PR should fix that problem: https://github.com/crossplane/provider-aws/pull/324

[2020-09-01 15:39] ciaranRoche opened #325 "Support for AWS VPC Peering"
### What problem are you facing?

There is no managed resource for creating VPC Peering

### How could Crossplane help solve your problem?

Implement a managed resource for VPC Peering.

[2020-09-02 15:11] ciaranRoche opened #326 "InvalidParameterCombination when creating a ReplicationGroup"
### What happened?

Error when creating a Replication Group
[code]

The full CR
[code]

We have verified using the params specified in the CR, we can create a replication group manually via the AWS-CLI.
If we remove the `cacheSecurityGroupNameRefs` from the CR it creates okay, we can then manually add the security group via the AWS console

### How can we reproduce it?

- Create a VPC
- Create a S

[2020-09-02 16:12] kelvinwijaya opened #327 "Add S3 Bucket in S3 Bucket v1alpha3 api"
Description of your changes
This PR aims to add Tagging feature support for the S3Bucket v1alpha3, this feature should help in terms of add tags for AWS billing purposes. Also the changes might be useful and be propagated into the next version v1beta1 release

Checklist
I have:

[✔️] Run make reviewable to ensure this PR is ready for review.
[✔️] Ensured this PR contains a neat, self documenting s

[2020-09-02 16:18] #327 closed

[2020-09-02 16:20] kelvinwijaya commented on #327
This ticket is open for the following PR : #328

[2020-09-02 18:21] kelvinwijaya commented on #122
Hi @muvaf . I have open a PR for the changes #328

I am not sure why my e2e test failed, but when i run it locally i have no issues and the test passed

[2020-09-03 18:00] PocketMobsters opened #329 "RDS instance gets caught in a password reset loop"
### What happened?

What we expected: When creating an RDS instance with the `masterPasswordSecretRef` field set, I'd expect for Crossplane to reset the master credentials for the RDS instance once (to ensure they're set properly) and then consider the RDS instance as synced and ready for use.

What happened: When creating an RDS instance with the `masterPasswordSecretRef` field set, the RDS insta

[2020-09-03 18:15] PocketMobsters commented on #329
Looking through the code, it looks as though this may require changes in both the `Observe` (possibly) and `Update` (certainly) functions in `pkg/controller/database/rdsinstance.go`

### Observe

I'm unsure if the call from `Observe` into `rds.IsUpToDate()` will always detect a difference when `masterPasswordSecretRef` is linked. There's a couple `TODO` comments that indicate this and `ApplyModifi

[2020-09-04 09:20] kelvinwijaya commented on #269
Hi @muvaf ,

Just to clarify, when we moved to s3 v1beta1 release, does that mean the user auto creation flow will stay put?

Reason i am asking is if we kept the user creation flow, how do we pass the permission boundary information in S3 Bucket CR as it is no longer by IAMUser reference?

Thanks,
Kelvin

[2020-09-04 12:06] kelvinwijaya commented on #272
Hi @muvaf , would like to know if i can pickup this task?

[2020-09-04 12:08] muvaf commented on #272
Hi @kelvinwijaya ! That'd be awesome! I don't think anyone else is working on it right now.

[2020-09-04 12:10] muvaf commented on #269
Hi @kelvinwijaya . In its v1beta1 version, S3 controller will not create a user anymore. I believe, you'd need to use `IAMUser` managed resource to manage an IAM user and put any permission boundary information on that CR.

[2020-09-05 13:02] kelvinwijaya commented on #269
Hi @muvaf , ok thanks for the clarifications!

[2020-09-05 13:46] kelvinwijaya commented on #272
Thanks @muvaf , i will start planning and work on this task

[2020-09-08 13:59] muvaf commented on #312
Closing the issue as it seems to be fixed.

[2020-09-08 13:59] #312 closed

[2020-09-09 17:04] frezbo opened #332 "aws subnet reconciliation fails"
### What happened?

When an AWS subnet managed by Crossplane is deleted and when the controller reconciles it fails with an error.

### How can we reproduce it?

* Apply the below YAML spec

YAML spec:

[code]

* Wait for the subnet to be created
* Delete the subnet from the AWS console

Error:

[code]

[2020-09-10 13:06] muvaf commented on #332
@frezbo Could you try with either `availabilityZone` or `availabilityZoneId`? I think the error is not really helpful but from what I can tell, you have to provide one of them.

[2020-09-10 13:10] frezbo commented on #332
@muvaf For creating a subnet, both `availabilityZone` and `availabilityZoneId` are completely optional. This happends if the subnet resource is manually deleted from the console. What happens is that the subnet resource in k8s already has both `availabilityZoneId` and `availabilityZone` retrieved from the API on first create and update operation. Now when it reconciles we sent a create operation w

[2020-09-11 08:15] muvaf opened #336 "ProviderConfig does not have region but this is required by some services"
### What happened?

When you try to create a `VPC` with `master` branch, you'll get the following error:
[code]

The reason is that client has to be configured with region so that it can construct the endpoint. However, a random endpoint doesn't suffice - it determines in which region the resource should be created. That's pretty different than other providers in the sense that a configuration par

[2020-09-11 14:05] muvaf commented on #122
Fixed by https://github.com/crossplane/provider-aws/pull/328

[2020-09-11 14:05] #122 closed

[2020-09-14 15:12] enderv opened #338 "Support for Launch Templates"
### What problem are you facing?
Currently no support for launch template. If added these can be used for either autoscaling groups or EKS node groups.

### How could Crossplane help solve your problem?
Implement a managed resource for launch templates

[2020-09-16 10:20] muvaf opened #340 "Notification group should be renamed to SNS"
### What happened?

`notification.aws.crossplane.io` should be `sns.aws.crossplane.io` because its managed resources (SNSTopic, SNSSubscription) belongs to [`sns`](https://github.com/aws/aws-sdk-go-v2/tree/master/service/sns) group in the AWS SDK. Also, the resource kinds should be renamed to `Topic` and `Subscription` after that change.

[2020-09-17 08:16] kelvinwijaya opened #341 "S3 to support Bucket Encryption"
### What problem are you facing?
To protect Data at rest in S3 Bucket. Need to have S3 feature support to enable attaching the AWS KMS keys

### How could Crossplane help solve your problem?
Enhance the data security of the S3 bucket provisioned through Crossplane

[2020-09-17 10:54] muvaf commented on #341
https://github.com/crossplane/provider-aws/pull/331 should fix this issue.

[2020-09-17 12:59] #336 closed

[2020-09-21 11:53] kelvinwijaya opened #343 "RDSInstance while syncing still reference Provider instead of ProviderConfig"
### What happened?

migrated RDSInstance spec to use providerconfig instead. but while syncing it still refer to Provider

![image](https://user-images.githubusercontent.com/11241076/93763284-bcdf9880-fc43-11ea-9263-64275051980c.png)

![image](https://user-images.githubusercontent.com/11241076/93763226-9faaca00-fc43-11ea-842d-85b2a513df82.png)

### How can we reproduce it?

Create composition with

[2020-09-21 14:13] kelvinwijaya commented on #343
It seem ok, please ignore this ticket

[2020-09-21 14:14] #343 closed

[2020-09-21 22:41] #307 closed

[2020-09-22 11:22] #329 closed

[2020-09-23 15:43] krishchow commented on #326
I don't believe this is a bug w/ Crossplane or the AWS Provider - rather this is the intended behavior for the AWS API. ElastiCache does not allow you to create a ReplicationGroup that uses both a _ElastiCache Security Group_ (i.e., cacheSecurityGroupNames) and a _Cache Subnet Group_ (i.e., cacheSubnetGroupNames). This is because ElastiCache Security Groups are specifically meant for older, non-VP

[2020-09-24 18:47] krishchow opened #347 "SNS Topic ARN"
### What problem are you facing?

I would like to be able to access the ARN for an SNS Topic, this will be useful internally since SNS topics are often referred to by their ARN strings

### How could Crossplane help solve your problem?

Crossplane should have support for this field

[2020-09-25 15:50] #347 closed

[2020-09-29 02:09] comjf opened #352 "SecurityGroup with egress defined never reaches 'READY' state (continuous polling: UpdatedExternalResource)"
### What happened?
Creating a SecurityGroup with an egress defined causes continuous "external resource" update requests. The SG seems to be created properly and usable, however crossplane continues to poll aws requesting an update that never comes.

When I create an AWS SG *without* egress defined, everything is fine as shown here:
[code]

### How can we reproduce it?
Define an egress in your Sec

[2020-09-29 03:45] comjf commented on #352
Upon reviewing my above post, feared this might just be user error as the above "fromPort" and "toPort" are both 0 for my egress (In the output above)

However, upon reviewing my source file, this is what I'm uploading:
[code]
Just stabbing at the dark, but perhaps the issue is here? https://github.com/crossplane/provider-aws/blob/master/pkg/clients/ec2/securitygroup.go#L202

[2020-09-30 04:41] celliott opened #355 "Add SQS Access Policy support"
### What problem are you facing?

I would like the ability to manage [SQS Access Policies](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-creating-custom-policies-access-policy-examples.html) using `applicationintegration.aws.crossplane.io`

### How could Crossplane help solve your problem?

Add ability to manage SQS Access Policy - [sqs_types.go#L28]( https://githu

[2020-09-30 10:03] muvaf commented on #352
I think that has been fixed by https://github.com/crossplane/provider-aws/pull/318 but there hasn't been an official release that includes this fix. What is your version of `provider-aws`?

[2020-09-30 10:08] muvaf commented on #326
I think @krishchow 's assessment is true. Here is an excerpt from [API reference](https://doc.crds.dev/github.com/crossplane/provider-aws/cache.aws.crossplane.io/ReplicationGroup/v1beta1#spec-forProvider-cacheSecurityGroupNames):

[EC2-Classic](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-classic-platform.html) means you cannot use your own VPC and its subnet in the configuration. I'm c

[2020-09-30 10:08] #326 closed

[2020-09-30 11:55] muvaf commented on #352
Going to close this. @comjf feel free to reopen if you experience this issue in `master`.

[2020-09-30 11:55] #352 closed

[2020-09-30 11:59] muvaf commented on #332
Won't fix as explained in https://github.com/crossplane/provider-aws/pull/335#issuecomment-690982667

[2020-09-30 11:59] #332 closed

[2020-09-30 12:02] muvaf opened #357 "Implement KMS Key managed resource"
### What problem are you facing?

AWS Provider does not have support for KMS Key resource.

### How could Crossplane help solve your problem?

Implement `kind: Key, apiVersion:kms.aws.crossplane.io`managed resource.

[2020-09-30 12:03] muvaf commented on #319
Closing in favor of https://github.com/crossplane/provider-aws/issues/357 . @janwillies feel free to reopen if you think that issue doesn't cover what needs to be done for that use case.

[2020-09-30 12:03] #319 closed

[2020-09-30 12:04] muvaf commented on #316
@hasheddan with the new package manager, is this issue solved?

[2020-09-30 12:05] hasheddan commented on #316
@muvaf yep! Good catch 👍

[2020-09-30 12:05] #316 closed

[2020-09-30 12:16] muvaf commented on #281
@yogeek I have tried to reproduce this issue by changing the creds and it seems like the controller does fetch the content of the secret at each reconcile. Could you try again with master to see if you still experience this problem? I'd expect it to pick up the new content at max in 60 seconds.

[2020-09-30 12:18] muvaf commented on #228
We have v1beta1 level support for EKS but it seems AWS still hasn't implemented support for spot instances in the official API https://github.com/aws/containers-roadmap/issues/583

[2020-09-30 12:52] #355 closed

[2020-09-30 14:26] celliott commented on #355
thx @muvaf!

[2020-09-30 16:36] krishchow opened #359 "S3 Bucket - Analytics Configuration"
### What problem are you facing?

I cannot currently create AnalyticsConfiguration rules for an S3 Bucket.
### How could Crossplane help solve your problem?

Crossplane should have support for Analytics Configuration resources in the provider-aws.

[2020-09-30 16:37] krishchow opened #360 "S3 Bucket - Inventory Configuration"
### What problem are you facing?

I cannot currently create Inventory Configuration rules for an S3 Bucket.
### How could Crossplane help solve your problem?

Crossplane should have support for Inventory Configuration resources in the provider-aws.

[2020-09-30 16:37] krishchow opened #361 "S3 Bucket - Metrics Configuration"
### What problem are you facing?

I cannot currently create Metrics Configuration rules for an S3 Bucket.
### How could Crossplane help solve your problem?

Crossplane should have support for Metrics Configuration resources in the provider-aws.

[2020-09-30 17:58] krishchow opened #362 "S3 Bucket - Full ACL Support"
### What problem are you facing?

I would like to have access to the full breadth of ACL functionality for an S3 Bucket. Currently, I can pass in a canned ACL, but I cannot update my ACL values.
### How could Crossplane help solve your problem?

Crossplane, more specifically the provider-aws, should have support for all the ACL functionality from AWS.

[2020-10-01 11:05] muvaf commented on #82
Fixed by https://github.com/crossplane/provider-aws/pull/339

[2020-10-01 11:05] #82 closed

[2020-10-01 19:33] HerrmannHinz opened #363 "Support for AWS TransitGateway and TransitGatewayAttachment"
### What problem are you facing?

in my team we spin up clusters per default with internal load balancers + we have multiple clusters in different AWS accounts.
to make them available to the corp intranet + to VPN users etc. we are doing some transit gateway peering afterwards to make a cluster:

- availability  to the internal network/routing
- ensure visibility  to other parts of the infrastruct

[2020-10-05 10:33] muvaf commented on #363
@HerrmannHinz Thank you for describing your request in detail! 0.13 will be released this week, so I believe we can discuss this feature for 0.14. Though if you'd like to, you can contribute by implementing them by following our guides. We'd be more than happy to help you guide along and merge the PR to upstream.

* Provider Development Guide: https://crossplane.io/docs/master/contributing/provide

[2020-10-05 11:05] HerrmannHinz commented on #363
@muvaf wow nice, good news and thanks for the heads up.
will check out the docs and the tutorial. maybe i can manage it myself to implement it. but please do not wait for me. ;)

[2020-10-06 06:09] gowrisankar22 opened #367 "Support day 2 operations features for backing services"
### What problem are you facing?
Support for “day 2” operations that developers might want for backing services(rds, cache, etc) e.g backup(Available) and restore(not available), credentials rotation(not avilable) ..etc

https://github.com/crossplane/provider-azure/issues/178
https://github.com/crossplane/provider-gcp/issues/265
same for alibaba as well.

### How could Crossplane help solve your p

[2020-10-06 07:31] muvaf commented on #367
Hi @gowrisankar22 ! Could you give more details about what you mean by day 2 operations? It's unlikely that provider-aws will have features that AWS doesn't offer, so, I would like to understand which AWS APIs you mean and open targeted issues about those APIs.

[2020-10-06 09:07] #99 closed

[2020-10-06 10:32] muvaf opened #368 "S3 AccelerateConfig is never deleted once created"
### What happened?

If `spec.forProvider.accelerateConfig` is filled once, it's never deleted since at each reconcile it's being [late-initialized](https://github.com/crossplane/provider-aws/blob/b935c3e/pkg/controller/s3/bucketresources/accelerateConfig.go#L52). We need to know whether we should make `DeleteAccelerateConfig` call or late-init the existing accelerate config.

### How can we reprod

[2020-10-06 11:50] gowrisankar22 commented on #367
@muvaf Day2 operations I meant in addition to just crud operations, additionally backup, restore, credential rotation, monitoring, logging ..etc are very much important for the effective software system.

Of course, cross-plane is completely API driven from hyper scalers, mostly all the hyperscalers are having day2 operation APIs in place, just we need to integrate this via crossplane.

This would

[2020-10-06 14:51] krishchow commented on #368
This was actually one of the cases I spent some time thinking about - for most of the resources where late initialize is implemented, there isn't actually an explicit delete function - e.g., on the Go SDK, there is no delete acceleration config call. Instead, by default, the value for these fields is _""_ (or sometimes _nil_), and once it has been set once, to "delete" it, you need to switch the v

[2020-10-06 15:17] krishchow commented on #368
1. AccelerationConfiguration - not much we can do for this one, users will need to manually set the value to Suspended to "delete" it.
2. LoggingConfiguration - we can wrap the internal struct with a LoggingEnabled struct, and just reflect the behavior of AWS
3. NotificationConfiguration - not sure how best to handle this currently.
4. RequestPaymentConfiguration - this cannot be deleted, so the l

[2020-10-06 15:34] #341 closed

[2020-10-07 16:53] krishchow opened #370 "Provider AWS fails to startup without Crossplane"
### What happened?

When I attempt to start the AWS provider using go build and running the binary, it begins loading of the controller, but after around 30 seconds it stops with the following errors
`2020-10-07T12:39:05.225-0400    ERROR   controller-runtime.source       if kind is a CRD, it should be installed before calling Start   {"kind": "KubernetesTarget.workload.crossplane.io", "error": "n

[2020-10-07 16:53] krishchow opened #371 "Provider AWS failed to start without Crossplane"
### What happened?

When I attempt to start the AWS provider using go build and running the binary, it begins loading of the controller, but after around 30 seconds it stops with the following errors
1. `2020-10-07T12:39:05.225-0400    ERROR   controller-runtime.source       if kind is a CRD, it should be installed before calling Start   {"kind": "KubernetesTarget.workload.crossplane.io", "error":

[2020-10-07 16:56] #370 closed

[2020-10-08 01:30] YasukeXXX opened #372 "Route53 ResourceRecordSet with AilasTarget is not working"
### What happened?

I tried to manage record set with crossplane, but I got an error.

error messsage:
[code]

manifest:
[code]
Is there something wrong?

### How can we reproduce it?

Fill `xxx` values and apply above manifest.

### What environment did it happen in?
Crossplane version: 0.12.0

[2020-10-08 12:50] muvaf commented on #372
It seems like AWS has an unnecessary validation in its Go SDK. Opened a bug here https://github.com/aws/aws-sdk-go-v2/issues/803

[2020-10-08 14:33] muvaf commented on #371
I believe installing a provider with Crossplane enables the following features:
* Necessary `ClusterRole`s for `provider-aws-controller` pod.
* `ClusterRole`s necessary for Crossplane to create provider-aws resources in compositions.
* Installation of AWS CRDs.
* Upgrade/Rollback support.
* Dependency resolution (not yet implemented)

and some things I don't recall right now. In essence, providers

[2020-10-08 14:36] hasheddan commented on #371
@krishchow note that for dev, you can just run `kubectl apply -k https://github.com/crossplane/crossplane//cluster?ref=master` before running controller and you should be good to go :slightly_smiling_face:

[2020-10-08 14:46] krishchow commented on #371
@muvaf - is the removal of the KubernetesTarget on the roadmap for v0.13? I created this issue to mainly focused on the development/testing phase of the provider-aws specifically where it would be nice for the provider to run standalone.
@hasheddan - thanks for clarifying! I'll try that out

[2020-10-08 18:35] muvaf commented on #371
@krishchow no, we deprecated it in 0.13 and will remove in 0.14

[2020-10-08 18:39] #371 closed

[2020-10-08 18:47] krishchow opened #374 "S3 Bucket Policy to v1beta"
### What problem are you facing?
We should bring the bucket policy for S3 to v1beta1 by adding full support for all policy fields.

[2020-10-12 12:23] muvaf commented on #368
For resources that have `delete` calls, it seems like we either won't _delete_ them or not late-init them and I think your call makes sense; don't late-init if they have `delete` calls. Because I can see cases where the `delete` is actually only thing that'll get user where they would like to end up. For example, even if you change some settings in `WebsiteConfiguration`, a bucket whose website co

[2020-10-12 14:52] #372 closed

[2020-10-12 16:48] janwillies opened #378 "SecurityGroup in Composition is created twice"
### What happened?
A security group in a crossplane composition is created twice:

Manual creation works fine (outside of a composition).

### How can we reproduce it?
composition.yaml:
[code]
xrd.yaml
[code]
xrc.yaml
[code]

### What environment did it happen in?
Crossplane version: v0.13.0
provider-aws: v0.12.0

[2020-10-13 05:46] #305 closed

[2020-10-13 09:08] kelvinwijaya opened #379 "S3 v1beta1 tagging issue"
II added Bucket to have tagging : tagSet as per following specs:

[code]

And it return error int the object status:

[code]

Not sure anything to do with: https://github.com/boto/boto3/issues/341

Tested in crossplane `v0.13.0` and latest: `provider-aws`

Thanks,
Kelvin

[2020-10-13 09:42] muvaf commented on #379
@kelvinwijaya this has been fixed in https://github.com/crossplane/provider-aws/pull/377 . We might be able to do a patch release `0.13.1` that includes this PR and https://github.com/crossplane/provider-aws/pull/376

[2020-10-13 15:08] Promaethius commented on #199
@muvaf @hasheddan started working on an enhancement but this go sdk v2 is so beta
https://github.com/aws/aws-sdk-go-v2/issues/637

cfg object passed into new client functions no longer have EndpointResolver fields etc etc

[2020-10-13 15:38] kelvinwijaya opened #380 "S3 v1beta1 sse-s3 encryption error"
I face issue while enabling SSE-S3 encryption for S3 bucket with the latest S3 API

I believe something to do with the following:
`This is just the behavior of the S3. When a bucket does not have an encryption, S3 will return a 4x4 HTTP status code back which will always be propagated as an exception in boto3.`

i believe somewhere in the controller logic, there is GET API call to check whether th

[2020-10-13 16:00] #368 closed

[2020-10-13 19:27] krishchow commented on #380
@muvaf I'm not sure how much you have done for this, but I have a PR ready for review that fixes this

[2020-10-13 19:30] muvaf commented on #380
@krishchow Awesome! I haven't really started yet.

[2020-10-13 19:36] krishchow commented on #380
@muvaf - cool! #381 has been opened :tada:

[2020-10-13 21:49] #380 closed

[2020-10-14 14:25] muvaf opened #383 "Update AWS SDK v2 version"
### What problem are you facing?

I've been getting `The XML you provided was not well-formed or did not validate against our published schema` in some S3 calls and I suspect it might be related to the AWS SDK version (`github.com/aws/aws-sdk-go-v2 v0.23.0`) we are using.

### How could Crossplane help solve your problem?

Update to [v0.26.0](https://github.com/aws/aws-sdk-go-v2/releases/tag/v0.26

[2020-10-15 03:00] kelvinwijaya commented on #380
Hi @krishchow @muvaf

Thanks for the swift closure of this item. tested and works well

[2020-10-15 03:00] kelvinwijaya commented on #379
Hi @krishchow @muvaf

Thanks for the swift closure of this item. tested and works well

[2020-10-15 11:48] kelvinwijaya opened #385 "S3 Bucket stuck in Ready state"
Created new S3 Bucket and it stuck in the Creating phase, try to check event logs and everything look normal.

Although the managed resource is created successfully in AWS UI

[code]

`Spec` as follow:
[code]

Crossplane version: provider-aws:v0.12.0-10.g71a09e8

[2020-10-15 17:53] krishchow commented on #385
I'm not able to replicate this bug with the current master build, are there any events associated with the resource?

[2020-10-15 18:25] krishchow commented on #374
Major TODOs:
- Support for IAM User ARN directly from the IAM User resource.
- Condition?

[2020-10-16 00:53] kelvinwijaya commented on #385
Hi @krishchow

Thanks for checking.

I will also investigate from my end, so far i only can see the event is keep looping every few seconds:

[code]

[2020-10-16 07:23] kelvinwijaya commented on #385
Hi @krishchow

I verified, and with composition using tagging and server side encryption options, this issues arise.

When i remove  the below from the spec then it works
[code]

Just to let you know that my testing is using XRD composite object

Thanks,
Kelvin

[2020-10-17 03:25] Promaethius opened #388 "S3 Acceleration not available in Region"
### What happened?
Applying any s3 object against crossplane configured against a AWS Gov region results in an eternal retry loop.
https://github.com/crossplane/provider-aws/blob/master/pkg/controller/s3/bucket/accelerateConfig.go#L69

[code]

### How can we reproduce it?
Get credentials for an AWS GovCloud region or see that terraform confirmed a similar issue here:
https://github.com/terraform-p

[2020-10-17 11:34] muvaf commented on #199
@Promaethius does that mean if we upgrade to new version of SDK, we won't get to supply our own endpoint resolver?

[2020-10-17 14:40] Promaethius commented on #199
Yes, as far as I can see, the endpoints package is internalized in 0.26.
This may or may not make things easier since the endpoint configuration
appears to turn into service specific which means the Service is annotation
wouldn't be needed

On Sat, Oct 17, 2020, 5:35 AM muvaffak onuş <notifications@github.com>
wrote:

[2020-10-19 14:35] mothershipper commented on #378
There may be a second part to this that affects how it works with compositions, but we've noticed that unlike the `RDSInstance` CRD, the `SecurityGroup` CRD checks the CRD for an `external-name` annotation, and decides the security group does not exist if the CRD has yet to be updated.  This will cause the controller to try and double create the security group if it's still in progress of bringing

[2020-10-19 14:39] muvaf commented on #199
I see. Would that also mean that users won't have to supply service-specific endpoint URL or do they have to give that in any case (`s3endpoint.my-awesome-region.com` for s3 and `ecrurl.my-awesome-region.com` for ecr)?

[2020-10-19 16:48] krishchow commented on #385
Hi @kelvinwijaya - still trying to replicate this issue so I can start to work on a fix. I noticed you are creating the buckets in a composition. If you try to use the same spec outside of the composition (i.e., just creating one bucket), does the creation succeed?

[2020-10-19 17:14] Promaethius commented on #199
They would still have to supply those as an annotation yes but they'd be parsed at the `NewClient` level rather than the cfg level meaning there would probably be a helper function across all services. The upside of this is that it'd be service aware since it's initiated per service rather than per config before service. One of the requirements for the resolver to function is a service id that is

[2020-10-20 04:37] anoop2811 commented on #272
Hi, wanted to check if this is still in the works ?

[2020-10-20 06:13] kelvinwijaya commented on #385
Hi @krishchow

Yes based on my testing, direct creation of buckets.s3.aws.crossplane.io object also face similar issue

With _serverSideEncryptionConfiguration_  or _tagSet_ , the **READY** state will be `false`. But when i remove those parameters, everything works fine

Thanks,
Kelvin

[2020-10-20 13:02] mdykes-gw commented on #272
Looking for the same thing... very interested

[2020-10-20 17:41] prasek commented on #210
the latest incarnation of this issue has surfaced here:
https://github.com/upbound/platform-ref-aws/issues/3

[2020-10-20 19:36] krishchow commented on #385
I did some more testing outside of the AWS provider since I haven't been able to replicate there, and I think I have found the culprit. It seems like AWS _can_ provide the list of tags in an arbitrary order. This can differ from the order of the tags in the tagging configuration, so I am just about to open up a PR that should fix this issue.

Thanks for your help with narrowing this down @kelvinwi

[2020-10-20 21:39] Promaethius commented on #385
Running into same issue with the given example s3.yaml

[2020-10-20 21:44] krishchow commented on #385
@Promaethius @kelvinwijaya - this should be fixed by #390

[2020-10-21 14:47] muvaf opened #392 "Routetable controller can lose track of created external resource"
### What happened?

In some cases, creation of `RouteTable` succeeds but its ID cannot be written to spec when [this call](https://github.com/crossplane/provider-aws/blob/c0bacda/pkg/controller/ec2/routetable/controller.go#L185) returns error. As an example:
[code]

As you can see, the first `CannotCreateExternalResource` event says update failed, which means the ID wasn't saved and in the reconci

[2020-10-21 19:10] krishchow opened #394 "IAM User Access Key"
### What problem are you facing?
I would like to be able to create Access Keys for IAM User I create.

### How could Crossplane help solve your problem?

Crossplane (and the AWS Provider) should automatically create an access key for a new IAM user.

[2020-10-21 20:35] jbhennin commented on #272
@kelvinwijaya I saw you were picking up this enhancement.  Are you still taking a look?

[2020-10-22 03:02] kelvinwijaya commented on #272
Hey @anoop2811 , @mdykes-gw , @jbhennin ,

Sure, I will start working on this enhancement.

Hi @muvaf ,

For this item, asking your suggestion should this be created as a separate `Kind` or still `RDSInstance` with different version?

Thanks,

[2020-10-22 03:04] kelvinwijaya commented on #385
Hi @krishchow .

Many thanks and glad that we have found the culprit

[2020-10-22 14:11] muvaf commented on #272
@kelvinwijaya I think that should be a separate kind. Possibly `apiVersion: rds.aws.crossplane.io/v1alpha1 kind: Cluster`.

[2020-10-22 16:26] #392 closed

[2020-10-22 16:26] #210 closed

[2020-10-23 14:13] marcinc commented on #385
Just came across a similar problem @kelvinwijaya noticed (https://github.com/crossplane/provider-aws/issues/385#issuecomment-709874858).

With bucket configuration containing:
[code]

I see the following reconciler error message:

[code]

Bucket gets created in the provider, however managed resource READY status is False.

[2020-10-26 07:41] #385 closed

[2020-10-26 09:39] marcinc opened #400 "S3 bucket SSE configuration not found"
### What happened?

There seem to be an issues with S3 bucket forProvider fields around server side encryption. This issue is similar to the one already reported in #385. When bucket configuration contains `serverSideEncryptionConfiguration` with sseAlgorithm specified it results in S3 bucket being provisioned with the encryption disabled. Managed resource READY status remains False. The same beha

[2020-10-26 12:30] muvaf commented on #400
I think this is duplicate of https://github.com/crossplane/provider-aws/issues/380 and has been fixed in master via https://github.com/crossplane/provider-aws/pull/381 Feel free to reopen if you think this is a different issue.

[2020-10-26 12:30] #400 closed

[2020-10-26 15:38] jasgeo75 opened #402 "AUTHENTICATION.md needs to be updated"
### What problem are you facing?

### How could Crossplane help solve your problem?

[2020-10-26 15:39] hasheddan commented on #402
@jasgeo75 thanks for opening this! I will get it updated ASAP :+1:

[2020-10-26 16:04] jasgeo75 commented on #402
@hasheddan Excellent, looking forward to checking it out.   I tried following the doc and then cross referencing https://doc.crds.dev/github.com/crossplane/provider-aws but I'm not quite there yet.  I'm attempting to deploy a securitygroup just as a test but I receive this error:

[code]
Does what I have below looks sane?

[code]
[code]
[code]
[code]

Then I tweak the annotation
[code]

[2020-10-26 16:21] hasheddan commented on #402
@jasgeo75 just opened a PR to update, but just to try to unblock here, have you deleted the `Pod`? After annotating the `ServiceAccount` we must let the `Deployment` recreate `Pod` to have the credential information injected successfully 🙂

[2020-10-26 16:25] jasgeo75 commented on #402
@hasheddan
Awesome, thanks.

So after deleting the pod, I receive a similar error:

[code]

[2020-10-26 16:27] hasheddan commented on #402
@jasgeo75 ah yes, one last change, you'll have to manually set the `fsGroup` on the `Deployment` and recreate the `Pod`. This process should be much easier in next Crossplane release! (more info in this issue: https://github.com/crossplane/provider-aws/issues/211)

[2020-10-26 16:38] janwillies opened #405 "Support for AWS Secrets Manager"
### What problem are you facing?

I want to manage AWS Secrets Manager via crossplane provider-aws, e.g. create, update and delete secrets

### How could Crossplane help solve your problem?

Implement a Secrets Manager resource: https://docs.aws.amazon.com/sdk-for-go/v2/api/service/secretsmanager

[2020-10-26 16:41] jasgeo75 commented on #402
It's a great project, keep up the good work!

I'm not exactly sure what an fsGroup is, or what its value should be.  It doesn't appear to be in the yaml of the existing deployment of the provider.

[2020-10-26 17:39] jasgeo75 commented on #402
Ok, gotcha -- using fsGroup: 65534 in the security context.  Now we're returning

[code]
Which is odd as we've permitted that as seen in the policy above.

[2020-10-26 18:30] #321 closed

[2020-10-26 19:06] hasheddan commented on #402
@jasgeo75 can you verify that your `${service_account_name}` does in fact match the name of the service account used by the Deployment? (context: https://github.com/helm/charts/issues/20504)

[2020-10-26 21:29] jasgeo75 commented on #402
@hasheddan
In the policy, we have `"system:serviceaccount:crossplane-system:provider-aws"`

serviceaccount:
[code]
deployment:
[code]

[2020-10-26 21:33] hasheddan commented on #402
@jasgeo75 you'll need the policy to have `system:serviceaccount:crossplane-system:provider-aws:provider-aws-e1398d0f5919`. I just tested out the steps in the `AUTHENTICATION.md` in my PR successfully if you want to refer to those: https://github.com/crossplane/provider-aws/pull/404/files?short_path=c6527ca#diff-c6527cadc7c471b3839f9c5961e2936f932556849f764869273e78c5639cc9fe

[2020-10-27 15:08] jasgeo75 commented on #402
Thanks, but still no luck on my end. I'm not yet sure that it lends itself well to automated installations, but I'm looking forward to revisiting this in the future.

[2020-10-27 15:15] hasheddan commented on #402
@jasgeo75 this should be much more automated in the coming Crossplane release :) If you wouldn't mind, could you let me know what error you are still hitting?

[2020-10-27 15:39] jasgeo75 commented on #402
@hasheddan  A few things I noticed were:
* uninstalling the helm chart leaves behind the CRDs.
* kubectl crossplane lacks an uninstall command.

Last attempt to install resulted in a missing deployment for the provider.  I'll give it another try shortly and report back my results.

[2020-10-27 15:46] hasheddan commented on #402
@jasgeo75 thanks for the information! `kubectl crossplane` does not have an uninstall command due to the fact that a `Provider` can be uninstalled simply by running `kubectl delete provider provider-aws`. Uninstalling any helm chart that has CRDs that are currently in-use will leave the CRDs behind. Feel free to jump in [Crossplane slack](https://slack.crossplane.io) if you want to chat more or se

[2020-10-27 17:39] jasgeo75 commented on #402
@hasheddan  Success!  The problem was the slightly botched uninstall where I missed a few resources, so subsequent re-installation was giving weird results.  I started fresh and everything went to plan.  Could probably do with a 'kubectl patch' for the securityContext in the deployment just to make the install a little more script friendly, but otherwise - looks good!

You've been incredibly respo

[2020-10-27 18:59] shettyjm opened #406 "missing CRD - ProviderConfig""
Installed v0.12.0 provider-aws.
Seems like missing to create "ProviderConfig" CRD.

Steps create 1. Installl provder-aws using
[code]
Step 2. Create aws provider usign following manifest
[code]

Error - error: unable to recognize "my-aws-provider-config.yaml": no matches for kind "ProviderConfig" in version "aws.crossplane.io/v1beta1"

[2020-10-27 19:47] #402 closed

[2020-10-27 20:31] muvaf commented on #406
Hi @shettyjm ! Could you share the output of `kubectl get provider.pkg -o yaml` and `kubectl get providerrevision.pkg -o yaml`?

[2020-10-28 02:04] kelvinwijaya commented on #272
Hi @muvaf ,

Thanks for your suggestion. Btw how can I move this ticket to Accepted or In Progress? It seem in the the Archival now

[2020-10-28 14:46] Knappek opened #407 "Implement EKS Fargate Profile"
### What problem are you facing?

I would like to be able to schedule pods on Fargate: https://docs.aws.amazon.com/eks/latest/userguide/fargate.html.

### How could Crossplane help solve your problem?

Implement `kind: FargateProfile, apiVersion: eks.aws.crossplane.io`

[2020-10-28 20:51] prasek commented on #149
@nicorikken - @enderv added ECR support in https://github.com/crossplane/provider-aws/pull/337, let us know if you run into any issues, thx!

https://doc.crds.dev/github.com/crossplane/provider-aws/ecr.aws.crossplane.io/Repository/v1alpha1

[2020-10-28 20:54] prasek commented on #149
@krishchow thanks for your contributions adding support for:
* S3 Bucket to v1beta1 [#331](https://github.com/crossplane/provider-aws/pull/331)
* S3 Bucket Policy support [#289](https://github.com/crossplane/provider-aws/pull/289)
* Referencer for SubnetGroup AWS ElasticCache [#314](https://github.com/crossplane/provider-aws/pull/314)
* Add ARN to AtProvider for SNS Topic [#348](https://github.com

[2020-10-28 21:05] prasek commented on #149
Excited to see the joint work between @jaypipes, @muvaf, and @kasey to adapt the AWS ACK codegen pipeline to emit a native Crossplane `provider-aws`, so you can compose even more AWS cloud services using Crossplane:

https://twitter.com/jaypipes/status/1320714029917229064

To follow along checkout this PR: https://github.com/aws/aws-controllers-k8s/pull/444 🚀

[2020-10-29 15:20] janwillies commented on #149
#407 (fargate) and #405 (secrets manager)

[2020-11-02 21:32] muvaf opened #411 "EKS sync fails after being ready"
### What happened?

I created a `Cluster.eks` resource using https://github.com/upbound/platform-ref-aws and got the following conditions after a while it's ready:
[code]

I didn't change anything in spec after creation.

### How can we reproduce it?

Create a `Cluster.eks` using the `subnetIds` and `securityGroupIds` fields.

### What environment did it happen in?
Crossplane version: 0.14.0-rc.11

[2020-11-03 07:20] negz commented on #378
It's possible this could be due to https://github.com/crossplane/crossplane/issues/1910.

[2020-11-03 07:21] negz commented on #411
Noticing the same issue, also using platform-ref-aws.

[2020-11-03 07:28] negz opened #412 "EKS NodeGroup updating suspiciously frequently"
### What happened?

I applied the network and cluster examples from https://github.com/upbound/platform-ref-aws/tree/fee50c794da296e832fb7a80bdee8cff508aac96/examples. My EKS NodeGroup has taken a long time to become active - I wonder if this is because it is stuck in a constant update loop? Note that it has decided an update was needed 28 times in 12 minutes.

[code]

### How can we reproduce it?

[2020-11-03 12:21] muvaf commented on #412
I tried but wasn't able to reproduce this. Looking at [IsUpToDate](https://github.com/crossplane/provider-aws/blob/4318043/pkg/clients/eks/nodegroup.go#L166) function, I'd not really expect unnecessary updates since it's fairly simple (compared to json comparison we have in bigger resources). Have you updated any value or did the composition ever change?

[2020-11-03 20:30] #411 closed

[2020-11-03 21:25] negz commented on #412
No, not that I'm aware of.

[2020-11-04 14:34] marcinc opened #414 "Implement Simple Email Service (SES) resources"
### What problem are you facing?

AWS Provider does not have support for SES resources.

### How could Crossplane help solve your problem?

Implement SES resources.

[2020-11-04 14:40] marcinc opened #415 "Implement Managed Streaming for Kafka (MSK) resources"
### What problem are you facing?

AWS Provider does not have support for MSK resources.

### How could Crossplane help solve your problem?

Implement MSK resources.

[2020-11-05 16:49] Knappek commented on #407
I am working on this...

[2020-11-06 11:41] dominykas opened #419 "Unable to install when using a specific version, rather than `master` or `alpha`"
# What happened?

For whatever reason, this morning my test aws provider was gone this morning, I didn't investigate too deep, because I figured it was because of I was using `master`, as outlined in the various examples. So I changed it to match the version of the crossplane helm chart (`v0.13.0`), but that did not work.

### How can we reproduce it?

Have this in the crossplane values:

[code]

[2020-11-06 12:26] muvaf commented on #419
Hi @dominykas ! This issue happens only when you try to install the providers via Helm during Crossplane installation. It's been [fixed](https://github.com/crossplane/crossplane/pull/1900) in master branch and the fix will be in the release. As a workaround, you can install the provider either via CLI or manually creating the `Provider` object like:
[code]

[2020-11-06 12:26] #419 closed

[2020-11-06 12:30] muvaf commented on #407
Thanks @Knappek ! Here is some resources that might help:
* Provider Development Guide - https://crossplane.io/docs/master/contributing/provider_development_guide.html
* Live coding of GCP PubSub managed resource - https://www.youtube.com/watch?v=rvQ8N0u3rkE&t=7s

[2020-11-06 12:36] muvaf commented on #272
@kelvinwijaya I moved it to `In Progress` column of `v1.0` release.

[2020-11-06 13:14] dominykas commented on #419
Thanks!

[2020-11-06 22:53] #374 closed

[2020-11-06 22:54] #394 closed

[2020-11-09 18:57] phantasm66 opened #422 "Incorrect SecurityGroup Resource cidrIp API Documentation"
According to the API docs for `SecurityGroup` Crossplane resources, we should be able to specify an existing source SG in `spec.forProvider.ingress.ipRanges.cidrIp`: https://github.com/crossplane/provider-aws/blob/c603ea315856c7cfb70594308bc8d3f940160640/package/crds/ec2.aws.crossplane.io_securitygroups.yaml#L82-L84

However, this does not seem to be the case:
[code]
This API documentation exists

[2020-11-09 19:26] phantasm66 opened #423 "Reconcile Route53 ResourceRecordSet Dependencies When Applying Multiple Resources"
It would be great if Crossplane could reconcile Route53 dependencies when applying multiple resources at the same time.

For example:

The following manifest defines multiple resources for Crossplane to provision an AWS Security Group,  ElastiCache (redis) cluster and a vanity DNS `CNAME` Route53 record:
[code]
The advantage of applying everything all at the same time is that we can template out a

[2020-11-10 21:44] publiusi opened #424 "S3Bucket external-name annotation not working"
When creating a aws Bucket in a composition, using the external-name annotation:
[code]

The bucket is not created and the following error is thrown:
failed to query Bucket: BucketRegionError: incorrect region, the bucket is not in ‘us-west-2’ region status code: 301, request id: AF960CE31F54F2A6, host id: mEymAUMu6Qchg9fB3lUS8pGi0D5hRxumiZm2LzzJ+YYyaFns/L2YorqW1mqWZZpmg6worAMgu20=

### How can we

[2020-11-10 21:46] hasheddan commented on #424
@krishchow could you take a look here?

[2020-11-10 23:04] hasheddan commented on #424
This issue appears to have some good information: https://github.com/aws/aws-sdk-go/issues/720

[2020-11-11 10:51] Knappek commented on #405
I am planning to work on this and thinking about how to implement it. Check out the related discussion [on slack](https://crossplane.slack.com/archives/CEG3T90A1/p1603379838239700).

I am thinking about two use cases:
1. automatically sink secrets from crossplane managed infrastructure resources to AWS secrets manager: currently crossplane writes secrets (like RDS connection string etc.) to Kubern

[2020-11-11 10:53] muvaf commented on #424
@publiusi AWS allows to use a bucket name only once in the same AWS account, no matter the region. If you try to create/get a bucket with name of another bucket that exists in a different region, that's what you'd get as an error. I'd check other regions for that bucket and delete it if you really need to use that name in another region.

[2020-11-11 11:52] #388 closed

[2020-11-11 21:19] publiusi commented on #424
I will test again and let you know. I did test and made sure there is no queue with that name in any region and only after that I created the ticket.

Will let you know

--

*CONFIDENTIALITY NOTICE*

This communication, including attachments, is
for the exclusive use of the person or entity to which it is addressed and
may contain confidential, proprietary and/or privileged information. Any
review

[2020-11-12 10:53] Knappek opened #425 "Implement AWS Config Service"
### What problem are you facing?

I would like to be able to configure AWS Config via Crossplane.

### How could Crossplane help solve your problem?

Implement `kind: ConfigService, apiVersion: service.aws.crossplane.io`. More information, check out the [aws go sdk for configservice](https://docs.aws.amazon.com/sdk-for-go/api/service/configservice/).

[2020-11-12 19:04] publiusi commented on #424
re-tested creating a new bucket and works fine , closing the issue

[2020-11-12 19:04] #424 closed

[2020-11-13 16:09] janwillies commented on #405
If my understanding is correct this would be a straight forward implementation of the CRUD operations of the [Secrets Manager Resource](https://docs.aws.amazon.com/sdk-for-go/api/service/secretsmanager/) with the exception that the [SecretString](https://docs.aws.amazon.com/sdk-for-go/api/service/secretsmanager/#CreateSecretInput)-value is a reference to a Kubernetes Secret and the actual value is

[2020-11-13 21:19] HerrmannHinz opened #427 "s3 bucket - support switch for: PutPublicAccessBlock"
**INFO**

just trying out the example at:

https://github.com/crossplane/provider-aws/blob/master/examples/s3/bucket.yaml
**in general this works fine**, i did set the following acl permission:

[code]
**i expected the bucket to be not public, but when checking the aws console**:
(see `Block Public Access`)

<img width="1182" alt="Screenshot 2020-11-13 at 21 52 43" src="https://user-images.githubu

[2020-11-14 00:00] publiusi opened #430 "Issue applying the bucket lifecycle configuration"
Using the following code to create a bucket , the bucket is created in AWS:

[code]

### What happened?

The bucket is created in AWS , the following error shows when applying lifecycle configuration.
`
cannot create or update: cannot put Bucket lifecycle configuration: MalformedXML: The XML you provided was not well-formed or did not validate against our published schema status code: 400, request

[2020-11-16 11:12] muvaf commented on #405
I think the case where users don't want to store creds in Kubernetes `Secret` will be addressed with a general approach in https://github.com/crossplane/crossplane/issues/1424

Meanwhile, I agree that we can have it just like any other managed resource. The difference would be that the data source would be a referenced `Secret` which is something we already do for [sensitive data](https://github.c

[2020-11-16 14:42] hasheddan commented on #430
@publiusi I think you may be required to provide a filter (https://doc.crds.dev/github.com/crossplane/provider-aws/s3.aws.crossplane.io/Bucket/v1beta1#spec-forProvider-lifecycleConfiguration-rules-filter). It sounds like in your case your filter would be all objects. Here is the relevant documentation: https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketLifecycleConfiguration.html

[2020-11-16 14:51] hasheddan commented on #430
Hmm looking further it appears the `Filter` is not required :thinking: https://docs.aws.amazon.com/AmazonS3/latest/API/API_LifecycleRule.html

[2020-11-16 15:27] hasheddan commented on #430
@krishchow any idea why this could be occurring?

[2020-11-16 15:29] krishchow commented on #430
Looking into this @hasheddan

[2020-11-16 17:34] krishchow commented on #430
Ah okay got it, the problem was that s3 expects an empty filter (i.e., non-nil) even if none is provided by the user. This strangely isn't specified anywhere in the docs :sweat_smile:. Will open a PR with a fix in a few minutes.

[2020-11-16 18:39] muvaf opened #432 "Enable support for ACK services with ReadOne template"
### What problem are you facing?

ACK has several types of resources differentiated by how their API works. They are not marked explicitly but in templates we can see them in the if conditions like `ReadMany` (APIs whose GET call returns a list), `ReadOne` (APIs whose GET call returns singular item).

Right now we have the `ReadMany` [implemented](https://github.com/aws/aws-controllers-k8s/pull/44

[2020-11-16 19:47] #430 closed

[2020-11-18 00:19] lvalerio commented on #149
What are the most important AWS services for you?
#234 ( Lambda Function )

What are your use cases?
Event-driven programming. Need to deploy a Lambda function to run on events generated from an s3 bucket

Would you be interested in contributing? If so, in which capacity?
Code contributions and improved documentation

[2020-11-18 12:24] benagricola opened #436 "Implement EFS Service"
### What problem are you facing?
On an EKS Fargate-only cluster, I would like to attach persistent volume claims to pods where filesystem storage is required.

I'd like to be able to create an EFS volume to back these PVC's in the cluster. Right now I have to do this 'manually' (outside Crossplane)

### How could Crossplane help solve your problem?
Implement the [EFS API](https://docs.aws.amazon.c

[2020-11-18 12:29] Knappek commented on #315
As these fields are not provided natively in the [aws-go-sdk/iam](https://docs.aws.amazon.com/sdk-for-go/api/service/iam/#IAM.CreatePolicy) it is not straight forward to implement this.
However, it is already implemented in the terraform [aws_iam_policy_document data source](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/data-sources/iam_policy_document) ([related code](https://

[2020-11-18 13:58] marcinc commented on #357
Hello @muvaf. Appreciate it may be of low priority for most but curious whether we should expect KMS Key support any time soon?

[2020-11-18 14:39] muvaf commented on #149
Hi @lvalerio If you're interested in contributing #234 , you can take a look at our [Provider Development Guide](https://crossplane.io/docs/v0.14/contributing/provider_development_guide.html) to get started. Feel free to join our Slack, too. Happy to help you along 🙂

[2020-11-18 16:50] hasheddan opened #437 "Update AUTHENTICATION.md to use ControllerConfig"
### What problem are you facing?

Using EKS IRSA has become much easier with the introduction of `ControllerConfig`. However, [AUTHENTICATION.md](https://github.com/crossplane/provider-aws/blob/master/AUTHENTICATION.md) still uses manual patches on the Service Account.

### How could Crossplane help solve your problem?

Update `AUTHENTICATION.md` with workflow using `ControllerConfig`.

[2020-11-18 17:34] hasheddan opened #438 "Add @krishchow as a provider-aws maintainer"
@krishchow has been contributing significant features to `provider-aws` over the past few months. He has also been responsive and reactive to opened issues and big fixes. I believe he has demonstrated all qualities we expect in a [Crossplane maintainer](https://github.com/crossplane/crossplane/blob/master/GOVERNANCE.md#becoming-a-maintainer).

This issue proposes adding @krishchow as a `provider-a

[2020-11-18 17:34] hasheddan commented on #438
Needless to say, this is a +1 from me :tada:

[2020-11-18 17:48] muvaf commented on #438
Congrats @krishchow ! +1 from me!

[2020-11-18 17:56] janwillies commented on #357
I believe @henni was able to spend some time and will share soon

[2020-11-18 18:21] druyang opened #439 "reference and selector fields are missing for redrivePolicy.deadLetterQueueARN"
### What problem are you facing?

`redrivePolicy` only allows selecting the `deadLetterQueue` by ARN. However, if the `deadLetterQueue` is created by the composition, we may need to dynamically build the `redrivePolicy`.

### How could Crossplane help solve your problem?

To resolve this: a reference and selector can be implemented for `redrivePolicy.deadLetterQueueARN`. Much like how  SNSSubscrip

[2020-11-18 19:03] #439 closed

[2020-11-18 19:18] negz commented on #438
+1 from me! Thanks for all the great work you've been doing @krishchow - we appreciate it.

[2020-11-18 20:16] #438 closed

[2020-11-19 14:03] jbhennin commented on #227
Curious if this has been looked at recently?  Being able to create an instance from a snapshot and point in time snapshot would be a great feature.

[2020-11-19 16:27] muvaf commented on #423
There are two possible solutions to this:
* We have the usual reference&selector fields but they are strongly types, so you can't use different managed resource kinds for the same field. We can have an additional way in references where you can specify the type as well assuming provider-aws knows how to take the value from that type, too. Additionally, there could be a DSL-like way of saying `go g

[2020-11-19 16:32] muvaf commented on #422
The documentation is copied directly from AWS.

I believe what is meant here is that you can either use this field to give a CIDR range or a source security group (via another field) but you cannot fill both of the fields. From what I can tell, that other field is `spec.forProvider.ingress.userIdGroupPairs.groupId`

[2020-11-19 19:14] druyang opened #443 "SQS: redrivePolicy.deadLetterQueue typo"
### What happened?

When trying to create a new queue with Crossplane, the following error appears:

    cannot create Queue: InvalidParameterValue: Value {"**deadLetterQueueARN**:" ... maxReceiveCount":5} for parameter RedrivePolicy is invalid. Reason: Redrive policy does not contain mandatory attribute: **deadLetterTargetArn**. status code: 400

[The JSON Crossplane is sending to AWS seems to ha

[2020-11-20 14:08] #443 closed

[2020-11-20 14:51] Henni commented on #357
PR incoming next week

[2020-11-20 19:10] muvaf opened #447 "Generate DynamoDB services using ACK"
### What problem are you facing?

DynamoDB is available in ACK code generation pipeline but we haven't generated it.

### How could Crossplane help solve your problem?

Implement missing pieces in Crossplane pipeline in ACK to get DynamoDB services.

[2020-11-20 19:11] muvaf commented on #432
Closing in favor of specific service issue. `ReadOne` enabled [DynamoDB](https://github.com/crossplane/provider-aws/issues/447) for example.

[2020-11-20 19:11] #432 closed

[2020-11-20 19:13] muvaf opened #448 "Generate ECR services using ACK"
### What problem are you facing?

ECR Repository is available in ACK. We can generate it using the code-generation pipeline.

### How could Crossplane help solve your problem?

We already have a manually written version of `Repository` but we'd like to converge on generated resources for easier maintainability.

[2020-11-20 19:16] muvaf opened #449 "Generate ElastiCache services using ACK"
### What problem are you facing?

ElastiCache is available in ACK code generation pipeline but we haven't generated it.

### How could Crossplane help solve your problem?

Implement missing pieces in Crossplane pipeline in ACK to get ElastiCache services. We already have some of them but it'd be better if we move over the custom parts to the generated code without losing functionality.

[2020-11-20 19:17] muvaf opened #450 "Generate SFN Services using ACK"
### What problem are you facing?

SFN is available in ACK code generation pipeline but we haven't generated it.

### How could Crossplane help solve your problem?

Implement missing pieces in Crossplane pipeline in ACK to get SFN services.

[2020-11-20 19:18] muvaf opened #451 "Generate SNS services using ACK"
### What problem are you facing?

SNS is available in ACK code generation pipeline but we haven't generated it.

### How could Crossplane help solve your problem?

Implement missing pieces in Crossplane pipeline in ACK to get SNS services. We have some SNS resources available but they should be replaced with generated one without losing any functionality.

[2020-11-23 13:29] #407 closed

[2020-11-23 14:54] #199 closed

[2020-11-29 12:36] kelvinwijaya opened #455 "S3 BucketPolicy not able to put multiple StringEquals conditions"
### What happened?

While creating s3.aws.crossplane.io/v1alpha2 BucketPolicy conditions for StringEquals. Seem I can only put 1 key-value pair. As for certain scenario, multi key-value pairs are needed

### How can we reproduce it?

Sample manifest:

[code]

### What environment did it happen in?
Crossplane version: v0.14.0
Provider-aws version: v0.15.0

[2020-11-29 16:15] kelvinwijaya commented on #455
Some example provided in this link as well for multiple conditions value:
https://aws.amazon.com/blogs/security/working-backward-from-iam-policies-and-principal-tags-to-standardized-names-and-tags-for-your-aws-resources/

[2020-11-30 09:56] muvaf commented on #455
@kelvinwijaya I went over the code but saw nothing much suspicious immediately. Could you post the error you're seeing in the status?

@krishchow what would you think about having a `spec.forProvider.rawPolicy` field that can accept the full JSON untouched and as expected by the AWS CLI? In edge cases like this one or when people already had their policies in that format, they can just use that fi

[2020-11-30 12:57] Savasw opened #457 "Creating an SQS Queue produces api exceptions"
### What happened?

Creating an sqs queue resource produces api exceptions when,
1. just the required parameters are provided(region)
[code]
2. When `fifoQueue` attribute is initialised explicitly with `false` value
[code]

### How can we reproduce it?

Use following configs for each scenario
1.
[code]

2.
[code]
### What environment did it happen in?
Crossplane version: v0.14.0
Provider AWS Contr

[2020-11-30 13:01] #457 closed

[2020-11-30 13:48] JasP19 commented on #427
I have not contributed before but I would like to try add this enhancement if possible. Of course, any assistance in terms of reviewing the updates I make would be much appreciated.

[2020-11-30 18:06] muvaf opened #458 "Generate SageMaker Services using ACK"
### What problem are you facing?

Sagemaker generation is recently implemented in ACK but we don't have it generated for provider-aws.

### How could Crossplane help solve your problem?

Generate the code for provider-aws and fix the problems.

[2020-11-30 21:04] muvaf commented on #427
Hi @JasP19 ! That would be a good first contribution! Thanks for chiming in!

I was thinking that would be another sub-resource we embed in `Bucket` object but it seems like Terraform community decided to make it a [different API](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/s3_bucket_public_access_block) whereas CloudFormation supports it [embedded](https://docs.aws

[2020-12-01 06:10] JasP19 commented on #427
Thanks @muvaf! My initial thoughts were also a sub-resource embedded in `Bucket` (essentially a sub-object consisting of four Booleans as per the CloudFormation link you sent).

To me a sub-resource makes more sense since it aligns with the experience in the AWS Management Console. I understand the use case of having a separate CRD but, in my opinion, public access control is far more closely coup

[2020-12-01 07:03] muvaf commented on #427
@krishchow @hasheddan how do you guys feel? It's a `v1beta1` resource so I want to make sure we're all onboard here since the change would be harder compared to `v1alpha1` if we decide to separate later.

[2020-12-01 20:41] krishchow commented on #427
Generally for the other related bucket resources (e.g., Server-side encryption or website configuration), we tried to mirror how to terraform is organizes the calls. I noticed that Terraform separated out resources that the bucket could have multiple of, like how an S3 bucket could have a variable amount of independent bucket policies.

So, just to confirm, an individual bucket can only have one P

[2020-12-01 21:08] krishchow commented on #455
@muvaf I'll work on a PR that allow users to accept a JSON input similar to the CLI.

[2020-12-02 01:18] kelvinwijaya commented on #455
Hi @muvaf , yes actually no issue with the current code. it is just not able to include list as part of the condition objects, currently is limited to few data types only

@krishchow . thank you for ur help on the PR

[2020-12-02 09:57] muvaf commented on #427
@krishchow looking at API, yes I believe these assumptions are true.

@JasP19 I think we can start working on it. `GetPublicAccessBlock`, `DeletePublicAccessBlock` and `PutPublicAccessBlock` are available in the API. Feel free to ping #dev channel in Crossplane Slack for any help 🙂

[2020-12-02 13:23] #447 closed

[2020-12-02 17:06] JasP19 commented on #427
Awesome, thanks! I'll start working on it as soon I get some time.

[2020-12-03 20:47] mcavoyk opened #461 "AWS Request ID seems to cause fast reconciliation"
### What happened?

I'ved noticed on Crossplane resources which fail to create/delete via AWS API end up causing excess API calls. Rather than the  short wait reconciliation of 30 seconds, they can reconcile multiple times per second due to each request getting a unique request ID back from AWS. This might be related to https://github.com/crossplane/provider-aws/issues/412

[code]

### How can we

[2020-12-04 21:07] tompscanlan opened #462 "Allow use of private images"
I need to be able to use private images.

## What I'm doing:

[code]

I'd expect the package install would use my referenced image.

## What happens:

The deployment for provider-aws is referencing the public image instead.

[code]

## Why?

I think it may be this line https://github.com/crossplane/provider-aws/blob/83fc1b6f5cf3ebb31be6efa191a4affa76e485e1/package/crossplane.yaml#L32

## Fix ?

I'

[2020-12-04 21:10] hasheddan commented on #462
@tompscanlan this is related to packaging machinery so I am going to move it over to `crossplane/crossplane`

[2020-12-07 03:29] kelvinwijaya commented on #455
Hi @krishchow

I have some concern regarding putting condition as JSON input

Does that mean i cannot leverage on the mapping feature anymore? As I have use-case that need the fields to be directly mapped or using transform function

Example:
[code]

[2020-12-07 07:57] JasP19 opened #464 "DynamoTable creates but fails to reconcile (provisionedThroughput error)"
### What happened?
When I apply the yaml for a `DynamoTable` resource, I can see (through the AWS management console) that the table is created successfully. However, I notice that reconciliation is being attempted extremely often (more than once per second) and failing with the following error message:

*update failed: cannot update DynamoDB table: ValidationException: The provisioned throughput

[2020-12-07 18:56] negz commented on #464
@muvaf Is this a bug in the generated code? I wonder if ACK has the same issue.

[2020-12-07 20:20] #450 closed

[2020-12-07 22:25] muvaf commented on #464
This is related to the hand-crafted code. The generated one is merged as `Table` in `dynamodb.aws.crossplane.io` group. However, the update code is ported over and it seems AWS has certain expectations about `UpdateTable` call:
[code]

I'll open a PR tomorrow.

[2020-12-08 13:16] gowrisankar22 opened #467 "Support for adding private link service"
Support for [Private link service]: https://aws.amazon.com/privatelink/

AWS PrivateLink provides secure, private connectivity between Amazon VPCs, AWS services, and on-premises applications on the AWS network. As a result, customers can simply and securely access services on AWS using Amazon’s private network, powering connectivity to AWS services through the interface Amazon VPC endpoints.

###

[2020-12-08 21:23] #464 closed

[2020-12-09 03:44] kelvinwijaya commented on #455
Hi @krishchow

Sorry that i think the use-cases become bigger now.

It seem the condition stringequal or stringnotequals values can be of array type as well. Based on the current design, i don't think we can put duplicate the key with different values to overcome this

For example:
[code]

[2020-12-10 17:59] dan1 commented on #272
@kelvinwijaya are there any updates on this work? Our team/company is very interested in DB Clustering support.  Thanks!

[2020-12-10 22:13] negz commented on #405
I think this is a great approach - thanks @Knappek! I really like using the regular connection secrets as an intermediary store that can in turn be shipped off to another secret store.

I'm curious how many orgs actually have a mandate to ensure credentials are _never_ persisted as a Kubernetes secret at all. If we could get away with using this approach for e.g. provider-vault that would certainl

[2020-12-11 23:16] amalagaura opened #470 "Support for Bootstrap Commands and Private Networking in EKS Nodegroup"
### What problem are you facing?
Support for `preBootstrapCommands` and `privateNetworking` from the [EKS schema](https://eksctl.io/usage/schema/) for `managedNodeGroups`

### How could Crossplane help solve your problem?
Would like to manage our EKS managed node groups from Crossplane

[2020-12-14 19:55] bandesz opened #472 "Correct order of steps when using service accounts with IAM role"
### What happened?

I've created an IAM role, annotated the service account, set an fsgroup and created the required provider config on the security context on the provider's deployment. I'm not sure what happens but I get the following error on resources I try to create:

[code]

After restarting the pod authentication starts to work.

What is the correct order of the following steps?
 - creating

[2020-12-15 06:53] kelvinwijaya commented on #272
Hi @dan1 ,

Apologise for the delay , I have been tied with work and have not get time to continue on the item. If you have bandwidth, kindly help to take the task up.

[2020-12-15 13:54] Savasw commented on #357
@Henni Any update on this?

[2020-12-15 19:37] afritzler commented on #85
@milindchawre same here! Machine instances + keypairs + EBS volumes + volume mounts would be pretty dope! 😎

[2020-12-16 12:52] bandesz opened #473 "Field doesn't get updated on the managed resource after it was updated on the claim"
### What happened?

I've updated an object's field on the claim, but the field wasn't updated on the managed resource.

Opening it here first as it happened with the S3 bucket resource.

When I create the claim with either Suspended/Enabled, it is set correctly, only the update doesn't seem to propagate.

### How can we reproduce it?

Property on the CompositeResourceDefinition:

[code]

S3 bucket

[2020-12-16 12:59] bandesz commented on #473
The update is still not propagated if I change the patch to this:
[code]

[2020-12-16 13:11] marcinc commented on #473
@bandesz I think this is addressed in v1 release. Let's try and upgrade to v1 and see if that works as expected 👍

[2020-12-16 17:21] bandesz commented on #473
Upgrading to Crossplane 1.0 indeed solved this, closing.

[2020-12-16 17:21] #473 closed

[2020-12-17 23:11] lvalerio opened #476 "s3.aws.crossplane.io/v1beta1 instance does not change the "Ready" state to "True" when specifying "spec.forProvider.notificationConfiguration""
### What happened?

When I apply the configuration for an S3 bucket with notifications sent to an SQS queue I expect the command `kubectl get managed` to show the bucket.s3.aws.crossplane.io as READY = True. However, it never changes from READY = False. When I look in the AWS console, I see the bucket is created and the notifications are configured. The only issue I see in the console is the SQS q

[2020-12-17 23:29] #437 closed

[2020-12-18 16:06] mcavoyk commented on #461
Looks this is a duplicate of https://github.com/crossplane/provider-aws/issues/69

[2020-12-18 19:55] enderv opened #477 "EKS NodeGroup scalingConfig.desiredSize can conflict with autoscaler"
### What happened?
I created a node group for an already existing EKS cluster running cluster autoscaler. I never deployed anything to the nodes and cluster autoscaler adjusted the desired size down to the group minimum but the nodegroup reconciler bumped it back up to what was defined in the spec.

### How can we reproduce it?
Need an already existing EKS cluster with [cluster autoscaler](https:/

[2020-12-18 20:59] hasheddan commented on #477
@enderv would it make sense to omit your `scalingConfig` in this case?

[2020-12-18 21:40] muvaf commented on #477
FWIW, Crossplane deems to be the source of truth so it will correct any drift. In this case, I believe autoscaler changes the desired size, but not min/max. From what I can tell, `desiredSize` is optional. So, if you'd like autoscaler to manage that property, leaving `desiredSize` empty might help.

[2020-12-18 22:02] enderv commented on #477
@hasheddan - Just tried with no scaling config and ended up with max: 2 min: 1 desired: 2. I'm assuming it wouldn't try to correct desired anymore but can't really do much with a max 2 unfortunately :(

@muvaf - unfortunately looks like if one value is supplied have to give all of them. Tried with no desiredSize and would get 400 back from AWS saying its a required value. Only docs I could actuall

[2020-12-21 19:20] enderv commented on #308
Taking a stab at this as I have some free time as need the NAT gateway support.  Instead of target field just looking at adding fields for all the possible targets  with refs for the currently supported targets

[2020-12-23 18:46] publiusi commented on #427
Are there any updates on this?

[2020-12-24 08:48] JasP19 commented on #427
@publiusi unfortunately I've been quite busy over the past few weeks. I'm still happy to try add this functionality when I can but, if someone is available with more free time than me, I'm also happy to pass it over to them.

[2021-01-04 13:40] bandesz opened #479 "Resource creation fails if the required IAM service linked role is missing"
### What happened?

I've tried to create an RDS database instance in a VPC but I got the following error when trying to create the RDS subnet group:

[code]

### How can we reproduce it?

Use an AWS account which doesn't have the AWSServiceRoleForRDS IAM role or delete this role manually.

Try to create an RDS database with a DB subnet group.

### What environment did it happen in?

Crossplane ver

[2021-01-04 13:52] bandesz opened #480 "RDS database resource stays in Synced: False state, error: No modifications were requested"
### What happened?

When creating an RDSInstance resource, it stays in Synced: false state and has the following error:

[code]

The relevant event says exactly the same error.

[code]

The error doesn't affect the claim which has Ready: True.

### How can we reproduce it?

Composition used:

[code]

### What environment did it happen in?

Crossplane version: 1.0.0
AWS provider: 0.16.0

[2021-01-04 14:37] JasP19 opened #481 "Enable DynamoDB TTL"
### What problem are you facing?

I have defined a DynamoDB Table using the [Crossplane documentation](https://doc.crds.dev/github.com/crossplane/provider-aws/dynamodb.aws.crossplane.io/Table/v1alpha1). I would like to enable TTL based on a certain attribute as per the [AWS documentation](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/time-to-live-ttl-how-to.html). I have provide

[2021-01-04 23:42] iAnomaly commented on #476
I can't speak to the notification/SQS piece, but I'm experiencing this same issue with Bucket READY = False on Crossplane version `v0.13.0`.

Using the above as an example, neither `kubectl get managed` or `kubectl get Bucket` are showing READY = True for the resource even though I can confirm its creation/existence in AWS just as @lvalerio has experienced.

[2021-01-05 21:09] enderv commented on #383
Started working on bumping to their rc .0.31.0 as I have time. It is indeed a major change.

[2021-01-06 16:24] muvaf commented on #235
Fixed by https://github.com/crossplane/provider-aws/pull/416

[2021-01-06 16:24] #235 closed

[2021-01-06 16:57] muvaf opened #482 "Document process of using ACK to generate Crossplane AWS resource"
### What problem are you facing?

ACK has the ability to generate Crossplane types and controllers now. However, it's not really documented and community members who'd like to add new resources are asking how to do it since we prefer generated code over hand-written.

### How could Crossplane help solve your problem?

We should have a guide that shows how to implement an AWS resource from scratch

[2021-01-06 17:02] muvaf opened #483 "ACK should not generate hooks.go"
### What problem are you facing?

ACK generation pipeline generates a `hooks.go` file, if it doesn't already exist, so that developer could write custom code. However, once developer makes a change, they cannot regenerate it even if the generation pipeline has an updated version. This causes drifts between `hooks.go` and `zz_{controller,conversion}.go` files since those are always updated. Hence,

[2021-01-06 17:06] muvaf opened #484 "ACK should generate reference and selector fields"
### What problem are you facing?

ACK does not generate reference and selector fields. It adds a `Custom{CRDName}Parameters` field as inline and expects you to create that struct and add your ref & selector fields. This causes generated code not to compile as is and also requires developer to write `Custom{CRDName}Parameters` struct even if it's actually empty.

### How could Crossplane help solve

[2021-01-06 18:52] muvaf commented on #383
@enderv FWIW, we use AWS SDK v1 as well, which is GA as opposed to v2. So, if you don't want to deal with updating SDK, you can opt for using v1 in the controller you want to make a change.

[2021-01-07 17:10] enderv commented on #477
What are yalls thoughts on adding a flag in scaling config to ignored desired on reconcile short term? Have some time and can work on that if you're ok with it.
Not ideal as think it will come up with other resources and was thinking of opening a ticket for a more generic feature like terraforms lifecycle ignore_changes for a long term solution.

[2021-01-07 19:59] mcavoyk commented on #477
My thinking is that leaving `desiredSize` nil indicates to the controller to ignore the field, and then to use the current desiredSize value in update requests as the value appears to be [required if scalingConfig is set](https://github.com/aws/aws-sdk-go-v2/blob/v0.31.0/service/eks/types/types.go#L573).

The problem with the above idea is `desiredSize` will be late initialized even if unset. so t

[2021-01-08 20:48] duncaan opened #488 "DynamoDB: Add PointInTimeRecoveryEnabled"
### What problem are you facing?
There is no way to set the PointInTimeRecoveryEnabled value on a dynamodb table or backup.  This is possible through the AWS SDK: https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/#PointInTimeRecoverySpecification

### How could Crossplane help solve your problem?
Allow the dynamodb table or backup CRD to allow setting PointInTimeRecoveryEnabled to true o

[2021-01-11 00:21] hiteshghia-splunk commented on #272
I have  started working on this - https://github.com/crossplane/provider-aws/pull/489

[2021-01-11 01:08] kelvinwijaya commented on #272
Thanks @hiteshghia-splunk for taking up the task!

[2021-01-11 13:59] duncaan commented on #338
Would like to see this too, for use with EKS node groups, specifically.

[2021-01-11 18:31] muvaf commented on #483
Fixed by https://github.com/aws/aws-controllers-k8s/pull/625

[2021-01-11 18:31] #483 closed

[2021-01-11 18:33] muvaf opened #490 "ACK Crossplane pipeline should generate is-up-to-date function"
### What problem are you facing?

`isUpToDate` is manually written right now.

### How could Crossplane help solve your problem?

We can get it generated by ACK.

[2021-01-11 18:34] muvaf opened #491 "ACK Crossplane pipeline should generate late-init function"
### What problem are you facing?

It's manually written.

### How could Crossplane help solve your problem?

We should be able to generate it.

[2021-01-11 18:49] negz commented on #383
We're continuing to use SDK v1 because ACK uses SDK v1 - we will revisit this later once there's ACK support for v2.

[2021-01-11 18:55] muvaf opened #492 "ACK Crossplane pipeline ReadMany template does not work for some resources"
### What problem are you facing?

ReadMany assumes `.Items` as the list of retrieved resources but it's `.DBClusters` for DBCluster and different for some.

### How could Crossplane help solve your problem?

We need to handle the case where `.Items` is named differently.

[2021-01-11 19:26] muvaf commented on #338
@duncaan Would you be interested in completing the custom parts outlined [here](https://github.com/crossplane/provider-aws/pull/486) if we're able to generate this resource?

[2021-01-12 00:16] enderv commented on #383
Question on this: all of the current non ack resources use v2 already.  Just gonna stick on the old v2 version until they go to ack generated resources?

[2021-01-12 05:47] muvaf commented on #383
@enderv I think we're indifferent about what SDK they use but unless necessary, I wouldn't spend much effort updating them to newer v2 versions. In fact, we can think about downgrading them to v1 if the feature that's available in newer v2 versions is available there.

[2021-01-12 20:00] #482 closed

[2021-01-14 20:51] duncaan commented on #488
Looked a little deeper and seems that the PITR was enabled with this PR: https://github.com/aws/aws-sdk-go/pull/1864/files but unsure why it isn't being generated by https://github.com/crossplane/provider-aws/blob/master/CODE_GENERATION.md

[2021-01-15 08:42] kelvinwijaya opened #494 "RDS tags inconsistent with the resource created in the cloud during composition update"
### What happened?

RDS User defined tags is not tally with the one created in the cloud

### How can we reproduce it?
1. Existing RDSInstance objects has been created with some tags
2. Change the composition spec. Adding new tags there
3. RDSInstance objects managed to get the updated value from the composition file and status show as SYNC true
4. Verify in RDS Console, some RDS Instance still no

[2021-01-15 16:54] duncaan commented on #488
@muvaf - Is this anything you might know about?

[2021-01-15 17:01] hasheddan commented on #488
@duncaan looks like this field is not generated because it can't actually be set at table creation (https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/#CreateTableInput). We will likely need to add a `ContinuousBackups` resource as a standalone type that references a `Table` object, or incorporate it into the table spec https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/#UpdateCo

[2021-01-15 19:42] enderv opened #495 "Force Delete Flag for some resources"
### What problem are you facing?
Some resources do not allow deletion if they have dependent resources (s3 bucket with items, vpc with resources, etc). This can cause the provider reconciler to fail to delete resources. Our use case revolves around s3 and vpc's. We want users to be able to create and cleanup buckets and vpcs even if they have items created in them from outside crossplane.

### How

[2021-01-19 17:24] bandesz opened #496 "S3 bucket stuck in Ready:False state when kmsMasterKeyId is set for serverSideEncryptionConfiguration"
### What happened?

This is the resource, including the status. The status is stuck in Ready false.

[code]

Events:

[code]

If I leave out `kmsMasterKeyId: arn:aws:kms:eu-west-2:1234567890:key/abababab-72b6-4c3a-9fa8-33c12a27b8b6`, then it works as expected

### What environment did it happen in?
Crossplane version: 1.0.0
AWS provider version: 0.16.0

[2021-01-19 17:38] bandesz commented on #496
The issue is caused by comparing string pointers instead of string values:

https://github.com/crossplane/provider-aws/blob/d195d70951e29b551540fbaba0a2b721be2cff98/pkg/controller/s3/bucket/sseConfig.go#L78

[2021-01-19 22:07] negz commented on #494
Thanks for raising this bug @kelvinwijaya! I've proposed that we work on this in the Crossplane 1.1 release (so during the next few weeks). If anyone is interested on fixing this sooner, please let us know!

[2021-01-19 23:59] negz commented on #495
Thanks for this feature request @enderv! I agree this would be good functionality to have, but we need to think about how it should work.

Architecturally we try to ensure that our managed resources map cleanly to a cloud provider API object or at least concept to keep our implementation granular and predictable. Terraform et al achieve this "force delete" functionality by listing and deleting all

[2021-01-20 15:29] muvaf opened #498 "Rename RDSInstance to DBInstance in rds group"
### What problem are you facing?

We've had the convention of sticking to the cloud provider SDK when we name the resources and groups. But since `RDSInstance` is one of the oldest CRD, it stayed as `RDSInstance` in the `database.aws.crossplane.io` group. Now that we have ACK code generation, it's not only a convention but a technical requirement. For example, ACK [puts](https://github.com/crosspl

[2021-01-20 15:48] muvaf commented on #495
I think I'm in the same boat with @negz . It's a very useful feature for sure, but with the high fidelity goal, I'm not sure if it fits in the bucket controller. Maybe a small webhook or controller could do what you want; `if <bucket cr>.deletion { list and delete every object }` or maybe you could incorporate this functionality into your uninstall/removal process of the application if possible.

[2021-01-20 16:29] muvaf commented on #477
So let's say I have the following configuration:
[code]

When the autoscaler scales the nodegroup down to `1`, does AWS report back that the `desiredSize` is `1` and that causes provider-aws to issue an update? Also does updating `desiredSize` to `3` to a nodegroup that's been scaled-down to `1` cause the nodegroup to get additional 2 nodes even if there is no load?

[2021-01-20 16:30] muvaf commented on #476
I'll test this and let you know.

[2021-01-20 16:47] enderv commented on #477
- `the autoscaler scales the nodegroup down to 1, does AWS report back that the desiredSize is 1 and that causes provider-aws to issue an update` - yep. had to double check since its been a bit but  based on [docs](https://docs.aws.amazon.com/eks/latest/userguide/cluster-autoscaler.html) autoscaler just adjusts desired size and lets AWS handle the actual node termination

- `does updating desiredS

[2021-01-20 17:30] #496 closed

[2021-01-20 17:35] enderv commented on #495
Agree not really a fan of flag but wanted to throw it out there. Something we are thinking about doing is using a helm release that just uses pre-delete hook to run a job that does the cleanup and just include that in the composition.

Which makes me think a handy pre-delete job hook somewhere would be nice.

[2021-01-20 17:39] muvaf commented on #477
Hmm two controllers fighting for the same field. I'm not sure if we can have a good solution for this. Are users able to opt-out of node scaler when they create an EKS cluster? If not, maybe we can remove `desiredSize` altogether from the CRD and issue the updates with the current value. If it's it is an optional component, we can document that `scalingConfig` is not applicable if node-autoscaler

[2021-01-20 18:00] muvaf commented on #481
It seems that this property isn't included in the creation or update calls, so we'd need to add it manually instead of relying on ACK to generate it. The field would go to [here](https://github.com/crossplane/provider-aws/blob/087f587/apis/dynamodb/v1alpha1/custom_types.go#L35) and update calls would need to be updated [here](https://github.com/crossplane/provider-aws/blob/master/pkg/controller/dy

[2021-01-20 18:05] muvaf commented on #479
I think we need to add a new CRD for `ServiceLinkedRole`. From what I can tell, ACK generation can support this. @bandesz would you be interested in contributing this resource using [the guide here](https://github.com/crossplane/provider-aws/blob/master/CODE_GENERATION.md)?

[2021-01-20 18:11] muvaf commented on #85
I just tested whether this could be achieved by [ACK code generation](https://github.com/crossplane/provider-aws/blob/master/CODE_GENERATION.md). But it seems like AWS API named instance creation command as `RunInstances` instead of `CreateInstances`, which causes ACK not to recognize it as a resource. However, a lot of EC2 resource are recognized, like key pairs volumes etc. So, if anyone is inte

[2021-01-20 18:15] muvaf commented on #472
@hasheddan is this still happening with your recent updates?

[2021-01-20 18:18] hasheddan commented on #472
I think the [updated doc](https://github.com/crossplane/provider-aws/blob/master/AUTHENTICATION.md) should work here. @bandesz could you confirm?

[2021-01-20 18:22] muvaf commented on #467
Seems like ACK code generation is able to generate a controller for `VPCEndpoint` resource. @gowrisankar22 would you be interested in contributing this resource using [the guide here](https://github.com/crossplane/provider-aws/blob/master/CODE_GENERATION.md)?

[2021-01-20 19:49] bandesz commented on #472
@hasheddan I just changed our setup to use ControllerConfig today (based on the linked docs), and all seem to work, so I will close this. Good timing with your question :)

[2021-01-20 19:49] #472 closed

[2021-01-20 22:31] negz commented on #498
Can we duplicate the RDSInstance implementation (i.e. types and controller) as DBInstance to begin with? This would create a manual migration path without us having to automate it.

[2021-01-20 22:49] muvaf commented on #498
@negz Yes, that's what I had in mind, too. We can use ACK to generate `DBInstance` and fill up the custom parts with the existing code in `RDSInstance`

[2021-01-21 08:43] Henni opened #501 "IsUpToDate Error Propagation"
### What problem are you facing?
I want to execute AWS SDK calls in the `IsUpToDate` function of a resource controller (i.e. KMS Key).
At the moment there is no way to propagate any errors that arise during these calls up to the reconciler, because `IsUpToDate` has no error return type.

### How could Crossplane help solve your problem?
Modify the auto-generation template to include an error retur

[2021-01-21 17:16] bandesz commented on #479
@muvaf sadly I don't have time to spare to implement this and in our platform we already have a workaround.